{% extends '/hotel/components/header.html' %} {% block controller%}stayController{% endblock %} {% block
    content%}

    

    
	</script>
            <div class="search-box-wrapper">
               


        <section id="content" class="tour">
            <div id="slideshow" class="slideshow-bg" style="height: 541px;">
                    <div class="flexslider">
                            <ul class="slides">
                                <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.6s ease; z-index: 2;">
                                    <div class="slidebg" style="background-image: url(http://thetravelsquare.in/images/the-travel-square-luxury.jpg);"></div>
                                </li>
                                <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.6s ease; z-index: 2;">
                                    <div class="slidebg" style="background-image: url(http://thetravelsquare.in/images/the-travel-square-accomodations.jpg);"></div>
                                </li>
                                <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; transition: opacity 0.6s ease; z-index: 1;">
                                    <div class="slidebg" style="background-image: url(http://thetravelsquare.in/images/the-travel-square-campsite.jpg);"></div>
                                </li>
                            </ul>
                        </div>
				
				
                <div class="container">
                    <div class="table-wrapper full-width">
                        <div class="table-cell">
                            <div class="heading box">
                                <h1 class="title">#TB Hotels</h1>
                                <h3 class="sub-title"><font color="white">We Have More Than Just Hotels Explore More Unique Places !</font></h3>
                            </div>

                            <div class="search-box" style="margin-bottom:0px;">
                                <form>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-5 form-group" onmouseover="myFunction(event)">
                                            <input type="text" class="input-text full-width" style="border-radius: 5px;" ng-keyup="[search() , show()]" ng-model="hotel.search" placeholder="Where Do You Wanna Visit ? .... ">
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-2 form-group">
                                            <div class="datepicker-wrap">
                                                    <input type="text" autocomplete="off" name="date_from" class="input-text full-width"  ng-model="hotel.ci" ng-value="hotel.ci | date: 'EEE,dd MMM yy'"  placeholder= "mm/dd/yy"  >
                                                    <img class="ui-datepicker-trigger" src="..//blank.png" alt="" title="">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-5 col-md-2 form-group">
                                            <div class="datepicker-wrap">
                                                    <input type="text" autocomplete="off" name="date_to" class="input-text full-width" ng-model="hotel.co" ng-value="hotel.co | date: 'EEE,dd MMM yy'"   placeholder="mm/dd/yy" >
                                                    <img class="ui-datepicker-trigger" src="..//blank.png" alt="" title="">
                                            </div>
                                        </div> 
                                            <div class="col-sm-3 form-group">
                                                <button type="submit" class="button btn-medium full-width uppercase sky-blue1 animated" data-animation-type="tada" ng-click="getHotel()">Search Now</button>                                            </div>
                                        </div> 
                                </form>
                            </div>

                            <div class="row col-md-5" id="demo" style="margin-left:10px; top:-19px; z-index:999; border-radius: 8px;"  onmouseover="myFunction(event)">
                                <div class="col-sm-12" style="position: relative; z-index: 99;"> 
                                    <div style="max-height:100px; text-align: left;
                                    margin: 0;
                                    border-radius: 8px;
                                    box-sizing: border-box;
                                    z-index: 99;
                                    font-size: 12px;
                                    width: 96%;
                                    padding: 0;
                                    position: absolute;">
                               
                                

                                <table id="search" class="table table-hover input-text full-width" class="ng-cloak" style="background-color:#f9f9f9; overflow: hidden; border-radius: 0 0px 5px 5px; box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.8);">

                                        <tbody id="search" class="input-text full-width"" >
                                          <tr class="ng-cloak" ng-repeat="city in cities | limitTo:2" >
                                            <td class="ng-cloak" style="border: 0" id="start" ng-click="result([[city]],'city')">
                                                <i class="soap-icon-departure" style="color: #000; font-size: 16px;  transition-delay: 6s;"></i> &nbsp [[city]]</td>

                                          </tr>
                                          <tr class="ng-cloak" ng-repeat="obj in names | limitTo:2">
                                            <td class="ng-cloak" style="border: 0" ng-click="result([[obj.name]],'name')">
                                                <i class="soap-icon-address" style="color:#000; font-size: 16px;"></i> &nbsp [[obj.name]]</td>

                                          </tr>
                                          <tr class="ng-cloak" ng-if="resp">
                                              <td>No result found</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
				
			</div>
			
        </section>

        <section id="content">
            <div class="container section">
                <center><h1 class="title"><big><b>POPULAR HOTELS & RESORTS</b></big></h1>
                <p><font color="black"><b>Discover Luxury at The Best Hotels In Town , Experience The Leisure at Best Budget</b></font></p><br></center>
                <div class="image-carousel style2" data-animation="slide" data-item-width="370" data-item-margin="30">

                <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides image-box style10" style="width: 800%; transition-duration: 0s; transform: translate3d(-400px, 0px, 0px);">
                        <li class="box post" style="width: 370px; float: left; display: block;">
                            <figure>
                                <a href="" class="hover-effect"><img src="http://thetravelsquare.in/images/the-travel-square-leela-ambience-convention-hotel.jpg" alt="Phi Phi Island Tour" draggable="false"></a>
                                <figcaption class="entry-date">
                                    <label class="date">29</label>
                                    <label class="month uppercase">Aug</label>
                                </figcaption>
                            </figure>
                            <div class="details">
                            <a href="" class="button btn-small sky-blue1 uppercase">View Details</a>
                            <h4 class="post-title entry-title">The Leela</h4>
                                <div class="post-meta single-line-meta vcard">
                                    <span class="hidden updated">Aug 29, 2013</span>
                                </div>
                                    <label class="price-wrapper uppercase">
                                        Starting @ <span class="price-per-unit">₹4999</span>
                                    </label>
                            </div>
                        </li>
                        <li class="box post" style="width: 370px; float: left; display: block;">
                            <figure>
                                <a href="" class="hover-effect"><img src="http://thetravelsquare.in/images/the-travel-square-the-lodhi-member-of-worlds-leading-chain.jpg" alt="Phi Phi Island Tour" draggable="false"></a>
                                <figcaption class="entry-date">
                                    <label class="date">29</label>
                                    <label class="month">Aug</label>
                                </figcaption>
                            </figure>
                            <div class="details">
                            <a href="" class="button btn-small sky-blue1 uppercase">View Details</a>
                            <h4 class="post-title entry-title">The Lodhi</h4>

                                <div class="post-meta single-line-meta vcard">
                                    <span class="hidden updated">Aug 29, 2013</span>
                                </div>
                                <label class="price-wrapper uppercase">
                                    Starting @ <span class="price-per-unit">₹14999</span>
                                </label>
                            </div>
                        </li>
                        <li class="box post" style="width: 370px; float: left; display: block;">
                            <figure>
                                <a href="" class="hover-effect"><img src="http://thetravelsquare.in/images/the-travel-square-roseate-house.jpg" alt="Phi Phi Island Tour" draggable="false"></a>
                                <figcaption class="entry-date">
                                    <label class="date">29</label>
                                    <label class="month">Aug</label>
                                </figcaption>
                            </figure>
                            <div class="details">
                            <a href="" class="button btn-small sky-blue1 uppercase">View Details</a>
                            <h4 class="post-title entry-title">Roseate House</h4>

                                <div class="post-meta single-line-meta vcard">
                                    <span class="hidden updated">Aug 29, 2013</span>
                                </div>
                                <label class="price-wrapper uppercase">
                                    Starting @ <span class="price-per-unit">₹1499</span>
                                </label>
                            </div>
                        </li>
                        <li class="box post" style="width: 370px; float: left; display: block;">
                            <figure>
                                <a href="" class="hover-effect"><img src="http://thetravelsquare.in/images/the-travel-square-hyatt-regency-gurugram.jpg" alt="Phi Phi Island Tour" draggable="false"></a>
                                <figcaption class="entry-date">
                                    <label class="date">29</label>
                                    <label class="month">Aug</label>
                                </figcaption>
                            </figure>
                            <div class="details">
                            <a href="" class="button btn-small sky-blue1 uppercase">View Details</a>
                            <h4 class="post-title entry-title">Hyatt Regency , Gurgaon</h4>

                                <div class="post-meta single-line-meta vcard">
                                    <span class="hidden updated">Aug 29, 2013</span>
                                </div>
                                <label class="price-wrapper uppercase">
                                    Starting @ <span class="price-per-unit">₹1499</span>
                                </label>
                            </div>
                        </li>
                        <li class="box post" style="width: 370px; float: left; display: block;">
                            <figure>
                                <a href="" class="hover-effect"><img src="http://thetravelsquare.in/images/the-travel-sqaure-country-inn-sahibabad.jpg" alt="Phi Phi Island Tour" draggable="false"></a>
                                <figcaption class="entry-date">
                                    <label class="date">29</label>
                                    <label class="month">Aug</label>
                                </figcaption>
                            </figure>
                            <div class="details">
                            <a href="" class="button btn-small sky-blue1 uppercase">View Details</a>
                            <h4 class="post-title entry-title">Country Inn , Sahibabad</h4>

                                <div class="post-meta single-line-meta vcard">
                                    <span class="hidden updated">Aug 29, 2013</span>
                                </div>
                                <label class="price-wrapper uppercase">
                                    Starting @ <span class="price-per-unit">₹1499</span>
                                </label>
                            </div>
                        </li>
                        <li class="box post" style="width: 370px; float: left; display: block;">
                            <figure>
                                <a href="" class="hover-effect"><img src="http://thetravelsquare.in/images/the-travel-square-umrao.jpg" alt="Phi Phi Island Tour" draggable="false"></a>
                                <figcaption class="entry-date">
                                    <label class="month uppercase">BALI</label>
                                </figcaption>
                            </figure>
                            <div class="details">
                            <a href="" class="button btn-small sky-blue1 uppercase">View Details</a>
                            <h4 class="post-title entry-title">Umrao</h4>

                                <div class="post-meta single-line-meta vcard">
                                    <span class="hidden updated">Aug 29, 2013</span>
                                </div>
                                <label class="price-wrapper uppercase">
                                    Starting @ <span class="price-per-unit">₹1499</span>
                                </label>
                            </div>
                        </li>
                        <li class="box post" style="width: 370px; float: left; display: block;">
                            <figure>
                                <a href="" class="hover-effect"><img src="http://thetravelsquare.in/images/the-travel-square-the-lalit.jpg" alt="Phi Phi Island Tour" draggable="false"></a>
                                <figcaption class="entry-date">
                                    <label class="date">29</label>
                                    <label class="month">Aug</label>
                                </figcaption>
                            </figure>
                            <div class="details">
                            <a href="" class="button btn-small sky-blue1 uppercase">View Details</a>
                            <h4 class="post-title entry-title">The lalit</h4>

                                <div class="post-meta single-line-meta vcard">
                                    <span class="hidden updated">Aug 29, 2013</span>
                                </div>
                                <label class="price-wrapper uppercase">
                                    Starting @ <span class="price-per-unit">₹1499</span>
                                </label>
                            </div>
                        </li>

                    </ul>
                </div>
                    <ol class="flex-control-nav flex-control-paging">
                        <li><a class="">1</a></li>
                        <li><a class="flex-active">2</a></li>
                    </ol>
                    <ul class="flex-direction-nav">
                        <li><a class="flex-prev" href="">Previous</a></li>
                        <li><a class="flex-next" href="">Next</a></li>
                    </ul>
                </div>
                <br>
                <br>
                <div class="block">
                    <center><h1 class="title"><big><b>BEST OFFERS & DEALS</b></big></h1>
                <br></center>
                    <div class="row image-box style1">
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="" title="" class="hover-effect"><img src="http://thetravelsquare.in/images/the-travel-square-promotional-offer-BESTBUY.jpg" alt="" width="270" height="160"></a>
                                </figure>

                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="" title="" class="hover-effect"><img src="http://thetravelsquare.in/images/monsoon-offer-MSN20OFF.jpg" alt="" width="270" height="160"></a>
                                </figure>

                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="" title="" class="hover-effect"><img src="http://thetravelsquare.in/images/the-travel-square-luxury-promotional-offer.jpg" alt="" width="270" height="160"></a>
                                </figure>

                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="" title="" class="hover-effect"><img src="http://thetravelsquare.in/images/the-travel-square-no-cost-emi.jpg" alt="" width="270" height="160"></a>
                                </figure>

                            </article>
                        </div>
                    </div>
                </div>
                </div>
            <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="0.5" style="background-position: 50% 0px;">
                <div class="container">
                    <div class="content-section description pull-right col-sm-9" style="height: 273px;">
                        <div class="table-wrapper hidden-table-sm" style="height: 100%;">
                            <div class="table-cell">
                                <h2 class="m-title animated" data-animation-type="fadeInDown">
                                    <font color="black"> Tell us where would you wish to travel next.<br><em></em>12,600+ Experiences Available</em></font>>
                                </h2>
                            </div>
                            <div class="table-cell action-section col-md-4 no-float">
                                <form action="" method="post">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-12">
                                            <input type="text" class="input-text input-large full-width active" value="" placeholder="Dream Destination">
                                        </div>
                                        <div class="col-xs-6 col-md-12">
                                           <a href=""><button class="full-width btn-large sky-blue1 animated" data-animation-type="fadeInUp" data-animation-delay="1">Holiday With Us</button></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="image-container col-sm-4" style="height: 300px; margin-left: -5%; position: relative;">
                        <img src="http://thetravelsquare.in/images/the-travel-square-trolley-bag.png" alt="" width="200" height="275" class="animated" data-animation-type="fadeInUp" data-animation-duration="2" style="position: absolute; bottom: 0px; left: 0px;">

                   </div>
                </div>
            </div>
            <br>
        </section>



    </div>

{% endblock %}