{% extends '/hotel/components/header.html' %} {% block controller%}staylistController{% endblock %} {% block
    content%}
    
        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Hotel Search Results</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="#">HOME</a></li>
                    <li class="active">Hotel Search Results</li>
                </ul>
            </div>
        </div>
        <section id="content">
            <div class="container">
                <div id="main">
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <div class="toggle-container filters-container">
                                <div class="panel style1 arrow-right">
                                        <button class="btn-medium icon-check uppercase full-width" ng-click="hotel = {  rating : null ,
                                            star :  null,
                                            price_start : null,
                                            price_end : null,
                                            page: 1}">Clear filter</button> 
                                </div> 
                                <div class="panel style1 arrow-right">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#modify-search-panel" class="collapsed" aria-expanded="false">Modify Search</a>
                                        </h4>
                                        <div id="modify-search-panel" class="panel-collapse" aria-expanded="false" style="height: 200px;">
                                            <div class="panel-content">
                                                <form>
                                                    <div class="form-group">
                                                        <label>check in</label>
                                                            <input type="date" ng-model="hotel.check_in" placeholder="mm/dd/yy">                                                  
                                                    </div>
                                                    <div class="form-group">
                                                        <label>check out</label>
                                                            <input type="date" ng-model="hotel.check_out" ng-change="checkErr()" placeholder="mm/dd/yy">
                                                    </div>
                                                    <span style="color:red">[[errMessage]]</span>
                                                    <br>
                                                    <button class="btn-medium icon-check uppercase full-width" ng-click="getHotelweek()">search again</button>
                                                </form>
                                            </div>
                                        </div>
                                </div>


                                <!-- <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#modify-search-panel" class="collapsed" aria-expanded="false">Modify Search</a>
                                    </h4>
                                    <div id="modify-search-panel" class="panel-collapse" aria-expanded="false" style="height: 300px;">
                                        <div class="panel-content">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label>destination</label>
                                                    <input type="text" class="input-text full-width" placeholder="" value="Paris">
                                                </div>
                                                <div class="form-group">
                                                    <label>check in</label>
                                                    <div class="datepicker-wrap">
                                                        <input type="date" name="date_from" class="input-text full-width hasDatepicker" placeholder="mm/dd/yy" id="dp1562094281457"><img class="ui-datepicker-trigger" src="./Travelo - Travel, Tour Booking HTML5 Template_files/blank.png" alt="" title="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>check out</label>
                                                    <div class="datepicker-wrap">
                                                        <input type="date" name="date_to" class="input-text full-width hasDatepicker" placeholder="mm/dd/yy" id="dp1562094281458"><img class="ui-datepicker-trigger" src="./Travelo - Travel, Tour Booking HTML5 Template_files/blank.png" alt="" title="">
                                                    </div>
                                                </div>
                                                <br>
                                                <button class="btn-medium icon-check uppercase full-width">search again</button>
                                            </form>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#price-filter" class="collapsed">Price</a>
                                    </h4>
                                    <div id="price-filter" class="panel-collapse collapse">
                                        <div class="panel-content">

                                            <div class="form-group">
                                                <div >
                                                        <label>Max Price:</label>
                                                        <input type="range" min="[[min]]" max="[[max]]" value="[[max]]" ng-model="hotel.price_end" >
                                                        <p>Value: <span>[[hotel.end_price]]</span></p>
                                             
                                                </div>    
                                            </div>
                                            <br>
                                            <button class="btn-medium icon-check uppercase full-width" ng-click="getHotelsData()">search again</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#rating-filter" class="collapsed">User Rating</a>
                                    </h4>
                                    <div id="rating-filter" class="panel-collapse collapse filters-container">
                                        <div class="panel-content">
                                            <div class="form-group">
                                                <input id="rating1" type="radio" name="rating" value="9" ng-click="getHotelsData()" ng-model="hotel.rating"/>
                                                <label class="label success">9+</label>
                                                <br>
                                                <input id="rating2" type="radio" name="rating" value="8" ng-click="getHotelsData()" ng-model="hotel.rating"/>
                                                <label class="label info">8+</label>
                                                <br>
                                                <input id="rating3" type="radio" name="rating" value="7" ng-click="getHotelsData()" ng-model="hotel.rating"/>
                                                <label class="label warning">7+</label>
                                                <br>
                                                <input id="rating4" type="radio" name="rating" value="5" ng-click="getHotelsData()" ng-model="hotel.rating"/>
                                                <label class="label danger">5+</label>
                                                <br>
                                                <input id="rating5" type="radio" name="rating" value="0" ng-click="getHotelsData()" ng-model="hotel.rating"/>
                                                <label class="label other">0+</label>
                                            </div>
                                            <br>
                                            <!-- <button class="btn-medium icon-check uppercase full-width" ng-click="getHotelRating()">search again</button> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#star-filter" class="collapsed">Star</a>
                                    </h4>
                                    
                                    <div id="star-filter" class="panel-collapse collapse filters-container">
                                        <div class="panel-content">
                                            <div class="form-group">
                                                <label>1<i class="fa fa-star" aria-hidden="true"></i>
                                                    <input id="star1" type="radio" name="star" value="1" ng-click="getHotelsData()" ng-model="hotel.star"/>
                                                </label>
                                                <br>
                                                <label>2<i class="fa fa-star" aria-hidden="true"></i>
                                                    <input id="star2" type="radio" name="star" value="2" ng-click="getHotelsData()" ng-model="hotel.star"/>
                                                </label>
                                                <br>
                                                <label>3<i class="fa fa-star" aria-hidden="true"></i>
                                                    <input id="star3" type="radio" name="star" value="3" ng-click="getHotelsData()" ng-model="hotel.star"/>
                                                </label>
                                                <br>
                                                <label>4<i class="fa fa-star" aria-hidden="true"></i>
                                                    <input id="star4" type="radio" name="star" value="4" ng-click="getHotelsData()" ng-model="hotel.star"/>
                                                </label>
                                                <br>
                                                <label>5<i class="fa fa-star" aria-hidden="true"></i>
                                                    <input id="star5" type="radio" name="star" value="5" ng-click="getHotelsData()" ng-model="hotel.star"/>
                                                </label>
                                                <br>
                                                <label>6<i class="fa fa-star" aria-hidden="true"></i>
                                                    <input id="star6" type="radio" name="star" value="6" ng-click="getHotelsData()" ng-model="hotel.star"/>
                                                </label>
                                                <br>
                                                <label>7<i class="fa fa-star" aria-hidden="true"></i>
                                                    <input id="star7" type="radio" name="star" value="7" ng-click="getHotelsData()" ng-model="hotel.star"/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-8 col-md-9">     
                            <div class="sort-by-section clearfix">
                                <h4 class="sort-by-title block-sm"></h4>
                                <p><input class="input-text full-width" type="text"  placeholder="SEARCH BY KEYWORD"></p>
                            </div>
                            <div class="hotel-list listing-style3 hotel" ng-repeat="hotel in hotelData">
                                <div ng-repeat="room in hotel.rooms">
                                    <div  >
                                        <article class="box" ng-if="room.b2b_lowest_price_room">
                                            <figure class="col-sm-5 col-md-4">
                                                <img data-toggle="modal"  ng-click="showBusinessDetail(hotel.id)" style="height:160px; cursor: pointer" src="http://[[hotel.images[0].image_url]]" alt="Travel Square">
                                                <!-- Modal -->
                                                <div class="modal fade" id="[[hotel.id]]" role="dialog">
                                                    <div class="modal-dialog">
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                        


                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                            </figure>
                                            
                                                
                                            <div class="details col-sm-7 col-md-8">
                                                <div>
                                                    <div>
                                                        <h4 ng-click="showBusinessDetail(hotel.id)" style="cursor: pointer;" class="box-title">[[hotel.name]]  
                                                            <small>
                                                            
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i> 
                                                        <span id="latitude" style="cursor:pointer" ng-click="showBusinessDetail(hotel.id)"  data-toggle="modal" data-target="#mapModal" data-latitude = "[[hotel.latitude]]"  data-longitude ='[[hotel.longitude]]'>[[hotel.city]]</span></small></h4>
                                                        <!-- <p class="amenities" style="overflow: hidden;">[[room.other_room_type]]</p> -->
                                                            
                                                        <div class="modal fade" id="mapModal" role="dialog">
                                                            <div class="modal-dialog">
                                                                
                                                            
                                                            </div>
                                                        </div>
                                                        
                                                            
                                                    </div>
                                                    

                                                        <div>
                                                            <div ng-if="[[hotel.star]]==1">
                                                                <span ng-repeat="i in [1]" style="width:10px; height:10px"><img style="width:12px" src="/images/star.png"></span>
                                                            </div> 
                                                            <div ng-if="[[hotel.star]]==2">
                                                                <span ng-repeat="i in [1,2]" style="width:10px; height:10px"><img style="width:12px" src="/images/star.png"></span>
                                                            </div>
                                                            <div ng-if="[[hotel.star]]==3">
                                                                <span ng-repeat="i in [1,2,3]" style="width:10px; height:10px"><img style="width:12px" src="/images/star.png"></span>
                                                            </div>
                                                            <div ng-if="[[hotel.star]]==4">
                                                                <span ng-repeat="i in [1,2,3,4]" style="width:10px; height:10px"><img style="width:12px" src="/images/star.png"></span>
                                                            </div>
                                                            <div ng-if="[[hotel.star]]==5">
                                                                <span ng-repeat="i in [1,2,3,4,5]" style="width:10px; height:10px"><img style="width:12px" src="/images/star.png"></span>
                                                            </div>
                                                            <div ng-if="[[hotel.star]]==6">
                                                                <span ng-repeat="i in [1,2,3,4,5,6]" style="width:10px; height:10px"><img style="width:12px" src="/images/star.png"></span>
                                                            </div>
                                                            <div ng-if="[[hotel.star]]==7">
                                                                <span ng-repeat="i in [1,2,3,4,5,6,7]" style="width:10px; height:10px"><img style="width:12px" src="/images/star.png"></span>
                                                            </div>
                                                            
                                                        </div>

                                                </div>
                                                    <!-- <p style="overflow: hidden; float: left;">[[room.other_room_type]]</p> -->
                                                
                                                
                                                <span ng-repeat="room in rooms.room_type" >[[room.other_room_type]]</span>
                                                <!-- <p class="amenities" style="overflow: hidden; float: left;">[[room.other_room_type]]</p> -->
                                                   
                                                    <div >
                                                        <div>
                                                        <!-- <span class="price"><a href="[[room.deals[0].hotel_url | orderBy : 'price']]"><small>[[room.deals[0].website.website]]</small>₹[[room.deals[0].price]]</a></span><center> -->
                                                        <div class="amenities" style="float:left">
                                                                <p style="overflow: hidden; float: left;">[[room.other_room_type]]</p>
                                                                <div>
                                                            <i class="soap-icon-wifi circle" ng-if="hotel.amenities.wifi_in_lobby" aria-hidden="true"></i>
                                                            <i class="soap-icon-breakfast circle" ng-if="room.breakfast" aria-hidden="true"></i>
                                                            <i class="soap-icon-couples circle" ng-if="hotel.amenities.couple_friendly" aria-hidden="true"></i>
                                                            <!-- <i class="soap-icon-restaurant circle" ng-if="hotel.amenities.restaurant" aria-hidden="true"></i> -->
                                                            <i class="soap-icon-fitnessfacility circle" ng-if="hotel.amenities.gym" aria-hidden="true"></i>
                                                            <i class="soap-icon-swimming circle" ng-if="hotel.amenities.indoor_swimming_pool" aria-hidden="true"></i>
                                                            <i class="soap-icon-swimming circle" ng-if="hotel.amenities.outdoor_swimming_pool" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                        <!-- <a class="button btn-small yellow" data-toggle="collapse" data-target="#[[hotel.id]]">More Deals</a>                                             -->
                                                    </div>
                                                    
                                                    <div class="amenities" ng-repeat = "deal in room.deals" style="float:left">
                                                            <span class="price" ng-if="deal.business_deal == true" aria-hidden="true" style="text-align: center;">₹[[deal.price]]</a></span>
                                                            <a class="button btn-small green" ng-if="deal.business_deal == true" style="padding: 0px 10px" href="/business/hotel/cart/[[deal.id]]" >Add To Cart</a></span>
                                                    </div>   
                                              
                                                  
                                                </div>
                                               
                                            </div>

          
                                            </article>
                                    </div>    
                                </div>
                                
                            </div>


                          



                                <div class="hotel-list listing-style3 hotel">
                                        <article class="box" ng-if="result">
                                            
                                            <h3>No Result found</h3>
                                        </article>
                                    
                                </div>


                            <a href="" class="uppercase full-width button btn-large" ng-click='loadMoreHotelsData()'>load more listing</a>
                        </div>
                    </div>
                </div>
            </div>

            {% include '/hotel/components/footer.html' %}

        </section>

    <!-- Javascript -->
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="/js/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.1.10.4.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    
    <!-- load revolution slider scripts -->
    <script type="text/javascript" src="/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>
    
    <!-- load BXSlider scripts -->
    <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
    
    <!-- load FlexSlider scripts -->
    <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
    
    <!-- Google Map Api -->
    <script type="text/javascript" src="/js/js"></script>
    <script type="text/javascript" src="/js/gmap3.min.js"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="/js/jquery.stellar.min.js"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="/js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="/js/theme-scripts.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/top-scroller.js"></script>
    <button onclick="topFunction()" id="upBtn" title="Go to top" style="display: block;">
        <i class="fa fa-chevron-up"></i>
    </button>


    
    <script type="text/javascript">
        // tjq(document).ready(function() {
        //     tjq("#price-range").slider({
        //         range: true,
        //         min: 0,
        //         max: 1000,
        //         values: [ 100, 800 ],
        //         slide: function( event, ui ) {
        //             tjq(".min-price-label").html( "$" + ui.values[ 0 ]);
        //             tjq(".max-price-label").html( "$" + ui.values[ 1 ]);
        //         }
        //     });
        //     tjq(".min-price-label").html( "$" + tjq("#price-range").slider( "values", 0 ));
        //     tjq(".max-price-label").html( "$" + tjq("#price-range").slider( "values", 1 ));
            // tjq("#rating").slider({
            //     range: "min",
            //     value: 40,
            //     min: 0,
            //     max: 50,
            //     slide: function( event, ui ) {
            //     }
            // });
        // });
    </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>


</body>
</html>
{% endblock %}