<!DOCTYPE html>

	<html>
	<head>
    <!-- Page Title -->
    <title>How Do We Work | The Travel Square Business</title>
    
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Business The Travel Square">
    <meta name="description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 Second">
    <meta name="designer" content="Business The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="Business The Travel Square">

    <meta property="og:title" content="The Travel Square">
	<meta property="og:image" content="http://www.thetravelsquare.in/images/the-travel-square-logo-thumbnail.png">
	<meta property="og:url" content="http://business.thetravelsquare.in/">
    <meta property="og:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
	
	<meta name="twitter:title" content="Business | The Travel Square B2B ">
	<meta name="twitter:image" content="http://www.thetravelsquare.in/images/the-travel-square-logo-thumbnail.png">
	<meta name="twitter:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
	<meta name="twitter:card" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="b2b travel, the travel square, b2b hotels, b2b flights, partner login b2b, b2b travel portal, b2b travel agencies, b2b dmc, hotel dmc's, b2b travel agency, b2b travel group, best b2b travel agency, India's Largest B2B Travel Network">
    <meta name="format-detection" content="7428558566">
    
	<meta property="fb:app_id" content="520084915232338" />
	<meta name="twitter:site" content="@thetravelsquareb2b">
	
	<link rel="shortcut icon" href="http://www.thetravelsquare.in/images/the-travel-square-logo-thumbnail.png" type="image/x-icon">
    
    <!-- Theme Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/bootstrap.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/font-awesome.min.css">
    <link href="http://thetravelsquare.in/files/css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/animate.min.css">
    
    <!-- Main Style -->
    <!--<link id="main-style" rel="stylesheet" href="css/style.css">-->
    <script type="text/javascript">
        var mainStyle = "style.css";
        if (typeof localStorage != "undefined") {
            var colorSkin = localStorage.getItem("colorSkin");
            if (colorSkin != null) {
                mainStyle = "style-" + colorSkin + ".css";
            }
        }
        document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');
    </script><link id="main-style" rel="stylesheet" href="http://thetravelsquare.in/files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/responsive.css">

</head>

<body>
    <div id="page-wrapper">
       
	           <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="http://business.thetravelsqaure.in/partner-care" rel="follow">Partner Care</a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li>
						<a href="http://partner.thetravelsquare.in/login.php" class="button white btn-small" style="height: 30px; font-size: 1em;">
						<font color="black">PARTNER LOGIN</font></a></li>
                        <li><a href="customer-care.html" class="soap-popupbox" rel="follow"></a></li>

                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Menu
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height: 0%; ">
                        <a href="http://business.thetravelsqaure.in/" title="the travel square b2b logo">
                            <img src="http://thetravelsquare.in/images/the-travel-square-india-logo.png" alt="the travel square b2b logo" title="the travel square b2b logo">
                        </a>
                    </h1><br>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.org" rel="follow"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                            
                            
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.org" rel="follow"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                    </ul>
                    
                    <ul class="mobile-topnav container">
                        <center><br>
                            <a href="http://partner.thetravelsquare.in/login.php">
						<button class="button full-width white uppercase animated" data-animation-type="tada"><b><big><font color="black">PARTNER LOGIN</font></big></b></button>
                            </a>
                    </ul>
                    <br>
                </nav>
				
				
            </div>
        </header>

 
		<section id="content">
            <div class="container">
                <div id="main">
                    <div class="large-block image-box style6">
                        <article class="box">
                            <figure class="col-md-5">
                                <a href="" title="The Travel Square Business" class="middle-block middle-block-auto-height" style="position: relative; height: 210px;"><img class="middle-item" src="http://thetravelsquare.in/images/business-the-travel-square-b2b-wallpaper.jpg" alt="" width="476" height="818" style="position: absolute; top: 50%; margin-top: -163px; left: 50%; margin-left: -243.5px;"></a>
                            </figure>
                            <div class="details col-md-offset-5">
                                <h4 class="box-title">Who We Are ?</h4>
                                <p>The Company Established in 2018 is a White Lable Network of Local Travel Agent & Hotel Supplier for Better B2B Pricing on Travel Demands .</p>
								<p>The Travel Square Business is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits. The Company Since Launch Has Raised Many Accomplishment in The Travel Sector and Is Looking Forward to Engage More in the Travel Market. It Aims to Turn Up the Best market Place for Travel Agents to Grow With Us .</p>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-md-5 pull-right middle-block middle-block-auto-height" style="position: relative; height: 210px;">
                                <a href="" title="The Travel Square Business"><img class="middle-item" src="http://thetravelsquare.in/images/the-travel-square-business-partners.jpg" alt="" width="476" height="318" style="position: absolute; top: 50%; margin-top: -163.5px; left: 50%; margin-left: -243.5px;"></a>
                            </figure>
                            <div class="details col-md-7">
                                <h4 class="box-title">What We Do ?</h4>
                                <p>The Enthusiastic Team of The Travel Square , Works on Creating Networks and Verified , Partners . We Target To Add an Inventory of 100+ New Partners on Our Network Every Day . Our Team Works on Tie-ing Up With New Hotel , DMC Partners Daily to Increase The Supply of The Company . These Hotels & DMC's Once Verified are Published With Their Properties and Packages on Our Platform .
								Where the Travel Agents and Companies Can Directly Purchase Inventory Hasle Free on B2B Rates.</p>
								<p>Along With the Supply of Hotels & Packages , The Travel Square Team Also Focus on Adding the Unique Supply For Sightseeing and Luxury Experiences and Adventures Which Can Be Directly Booked By The Travel Agents For Their Clients While Curating The Packages.</p>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-md-5">
                                <a href="" title="The Travel Square Business" class="middle-block middle-block-auto-height" style="position: relative; height: 210px;"><img class="middle-item" src="http://thetravelsquare.in/images/the-travel-square-partners-how-to-work-with-us.jpg" alt="" width="476" height="318" style="position: absolute; top: 50%; margin-top: -243.5px; left: 50%; margin-left: -243.5px;"></a>
                            </figure>
                            <div class="details col-md-offset-5">
                                <h4 class="box-title">How To Work With Us ?</h4>
                                <p>Working With is Us as a Vendor or Partner is Simple to Go. Every Travel Agents Must Regsiter and Get Verified to Access Special B2B Prices on Our Portal For Bookings.
								</p>
								<ul>
								<li><b>Step 1:</b> Get Registered on Our Portal As a Partner <a href="http://partner.thetravelsquare.in/signup.php">(Click Here)</a> .</li> 
								<li><b>Step 2:</b> After The Registration Process , Submit Your Enterprise Details To Get Verified <a href="http://partner.thetravelsquare.in/lta-registration.php">(Click Here)</a></li>
								<li><b>Step 3:</b> Login With The Initials , Entered During the Time of Registration Once verification Mail Arrives <a href="http://partner.thetravelsquare.in/login.php">(Click Here)</a></li>
								<li><b>Step 4:</b> In Addition to This Join Our Whatsaap Group for Daily Leads and Updates .<a href="http://partner.thetravelsquare.in/join-chat-forum.php">(Click Here)</a> </li>
								<li><b>Step 5:</b> Now Be The Travel Square Partner For Better Growth</li>
								</ul>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        
          <footer id="footer" class="style5">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                       
						
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>The Travel Square</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">About Company</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/jobs">Jobs & Carreers</a></li>
								<li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">Corporate Office</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal">Legal Info</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/press-release">Press Release</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/terms-and-conditions">T & C</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/customer-care">Customer Care</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/privacy-policy">Privacy Policies</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/partner-care">Partner Help</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/faq">FAQ's</a></li>
                                <li class="col-xs-6"><a href="http://www.business.thetravelsquare.in/site-map">Site Map</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <h2>More of us !</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.signatureclubmembership.com/" target="_blank">Signature Club</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.cruisader.com/" target="_blank">Cruisader</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.cruisingindia.in/" target="_blank">Cruising India</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.happenings.ind.in/" target="_blank">Happenings</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.shoppist.in/" target="_blank">Shoppist</a></li><br><br>
                                
                            </ul>
                        </div><hr>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>About Us</h2>
                            <b><p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In Style With Luxury at Affordable Pricing . </p></b>
                            <br>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="Join Us on Twitter" href="https://twitter.com/travelsquareb2b" rel="nofollow" data-toggle="tooltip"  Target="_blank" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                <li class="facebook"><a title="Join Us on Facebook" href="https://www.facebook.com/thetravelsquareb2b/" rel="nofollow" Target="_blank" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="Join Us on Linked In" href="https://www.linkedin.com/company/thetravelsquareb2b" rel="nofollow" Target="_blank" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                <li class="vimeo"><a title="Join Us on Instagram" href="https://www.instagram.com/thetravelsquareb2b/" data-toggle="tooltip" rel="nofollow" Target="_blank" data-original-title="vimeo"><i class="soap-icon-instagram"></i></a></li>
                                <li class="dribble"><a title="Join Us on Youtube" href="https://www.youtube.com/channel/UCqi_w8JlO-1VEmVUItvr8og" rel="nofollow" Target="_blank" data-toggle="tooltip" data-original-title="dribble"><i class="soap-icon-youtube"></i></a></li>
 
                            </ul><br><br>
							
                        </div>
						<center>
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<br>
                            <img src="http://thetravelsquare.in/images/the-travel-square-logo-200x200.png" alt="the travel square b2b" title="the travel square b2b">
							<br><br>
							<div class="row">
							<a rel="nofollow" href="https://play.google.com/store?hl=en"><img src="http://thetravelsquare.in/images/the-travel-square-google-playstore.png" alt="the travel square b2b" title="the travel square b2b" height="35" width="100">
							<a rel="nofollow" href="https://www.apple.com/in/"><img src="http://thetravelsquare.in/images/the-travel-square-apple-store-ios.png" alt="the travel square b2b" title="the travel square b2b" height="35" width="100"></div>
                        </div>
						</center>
                    </div>
					
                </div>
				
			<center>
			<a rel="nofollow" href="https://www.paypal.com/in/home"><img alt="the travel square b2b" title="the travel square b2b" src="http://thetravelsquare.in/images/the-travel-square-visa-debit-credit-card.png" height="70" width="350">
			<a rel="nofollow" href="https://www.payumoney.com/"><img alt="the travel square b2b" title="the travel square b2b" src="http://thetravelsquare.in/images/the-travel-square-payu-paypal.png" height="70" width="300">
			</center><br>
            </div>
			
			
            <div class="bottom gray-area">
                <div class="container">
                    
                    <div class="pull-right">
                        <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>© 2019 Business | The Travel Square</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <!-- Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/bootstrap.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/scripts.js.download"></script>



</body></html>