<!DOCTYPE html>

	<html>
	<head>
	
    <!-- Page Title -->
    <title>The Travel Square Business | India's Largest B2B Travel Network</title>
    
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Business The Travel Square">
    <meta name="description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 Second">
    <meta name="designer" content="Business The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="Business The Travel Square">

    <meta property="og:title" content="The Travel Square">
	<meta property="og:image" content="http://www.thetravelsquare.in/the-travel-square-logo-thumbnail.png">
	<meta property="og:url" content="http://business.thetravelsquare.in/">
    <meta property="og:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
	
	<meta name="twitter:title" content="Business | The Travel Square B2B ">
	<meta name="twitter:image" content="http://www.thetravelsquare.in/the-travel-square-logo-thumbnail.png">
	<meta name="twitter:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
	<meta name="twitter:card" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="b2b travel, the travel square, b2b hotels, b2b flights, partner login b2b, b2b travel portal, b2b travel agencies, b2b dmc, hotel dmc's, b2b travel agency, b2b travel group, best b2b travel agency, India's Largest B2B Travel Network">
    <meta name="format-detection" content="7428558566">
    
	<meta property="fb:app_id" content="520084915232338" />
	<meta name="twitter:site" content="@thetravelsquareb2b">
	
	<link rel="shortcut icon" href="http://www.thetravelsquare.in/the-travel-square-logo-thumbnail.png" type="image/x-icon">
	
	<style>
* {
  box-sizing: border-box;
}

body {
  font-family: anton;
  font-size: 17px;
}

.overlaycity {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.overlaycity img {vertical-align: middle;}

.overlaycity .picturecity {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.2); 
  color: #f1f1f1;
  width: 120%;
  padding: 70px;
  left: -25px;
}
</style>

	
	<style>
body {
  margin: 2rem;
}

.modal-dialog {
  max-width: 1000px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}
.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

</style>

<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
</style>
	
    <!-- Theme Styles -->

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="http://thetravelsquare.in/files/bootstrap.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/font-awesome.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/animate.min.css">
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="http://thetravelsquare.in/files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div id="page-wrapper">
       
	           <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="http://business.thetravelsqaure.in/contact" rel="follow">Partner Care</a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li>
						<a href="http://partner.thetravelsquare.in/login.php" class="button white btn-small" style="height: 30px; font-size: 1em;">
						<font color="black">PARTNER LOGIN</font></a></li>
                        <li><a href="/contact" class="soap-popupbox" rel="follow"></a></li>
                        <li><a href="/booking-cart"><img height="27" width="30" src="http://thetravelsquare.in/images/cart-image.png"></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Menu
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height: 0%; ">
                        <a href="http://business.thetravelsqaure.in/" title="the travel square b2b logo">
                            <img src="http://thetravelsquare.in/images/the-travel-square-india-logo.png" alt="the travel square b2b logo" title="the travel square b2b logo">
                        </a>
                    </h1><br>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.org" rel="follow"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                            
                            
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.org" rel="follow"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                    </ul>
                    
                    <ul class="mobile-topnav container">
                        <center><br>
						<li><button class="button full-width white uppercase animated" data-animation-type="tada"><b><big><font color="black">PARTNER LOGIN</font></big></b></button></li>
                        <li><a href="/booking-cart"><img height="27" width="30" src="http://thetravelsquare.in/images/cart-image.png"></a></li>
                    </ul>
                    <br>
                </nav>
				
				
            </div>
        </header>

 
		<section id="content" class="tour">
            <div id="slideshow" class="slideshow-bg full-screen">
                <div class="flexslider">
                    <ul class="slides">
                        <li class="flex-active-slide" style="width: 110%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; transition: opacity 0.6s ease; z-index: 1;">
                            <div class="slidebg" style="background-image: url(http://thetravelsquare.in/images/the-travel-square-business.jpg);"></div>
                        </li>
						<li class="flex-slide" style="width: 110%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.10s ease; z-index: 2;">
                            <div class="slidebg" style="background-image: url(http://thetravelsquare.in/images/the-travel-square-partner-with-us.jpg);"></div>
                        </li>
                    </ul>
                </div>
				
				
                <div class="container">
                    <div class="table-wrapper full-width">
                        <div class="table-cell">
                            
                            <div class="heading box">
                                <h1 class="title pull-left"><font color="black">GROW YOUR TRAVEL BUSINESS </font></h1><br><br><br>
								
                            </div>
							<div class="text pull-left">
                                <h2 class="pull-left uppercase"><br>Buy Inventory For Your Travel Leads Directly From DMC's , Hoteliers & Suppliers</h2>
							
							</div>
                            <div class="text-center pull-left"><br><br>
                                <a href="http://partner.thetravelsquare.in/signup.php" class="button btn-large sky-blue1 uppercase animated" data-animation-type="fadeInLeftBig">Partner With Us</a>
                                &nbsp;&nbsp;
								 
                                <a class="button btn-large sky-blue1 uppercase animated video" data-animation-type="fadeInRightBig" data-toggle="modal" data-src="https://www.youtube.com/embed/Jfrjeg26Cwk" rel="nofollow" data-target="#myModal">Watch Video</a>
                                &nbsp;&nbsp;
									</div>
									
                            
                        </div>
                    </div>
                </div>
				
			</div>
			
            
        </section>
        </div>
        <section id="content bg-white">
			 
			 <div class="container section">
			 
			 <div class="large-block">
			 
                        <div class="travelo-box">
                            <div class="overflow-hidden">
							
			 <center>
                <h1 class="title"><big><b>WHY JOIN THE TRAVEL SQUARE PARTNER PROGRAM ? </b></big></h1><br><br><br></center>
                                <div class="services column-5-no-margin">
                                    <article class="icon-box style9">
                                        <i class="fa fa-clipboard"></i><br>
                                        <h5 class="box-title uppercase"><b>Dedicated Travel Dashboards</b></h5>
                                    </article>
                                    <article class="icon-box style9">
                                        <i class="fa fa-tags"></i><br>
                                        <h5 class="box-title uppercase"><b>Fixed B2B Pricing</b></h5>
                                    </article>
                                    <article class="icon-box style9">
                                        <i class="fa fa-pause"></i><br>
                                        <h5 class="box-title uppercase"><b>Ability To Hold Prices</b></h5>
                                    </article>
									<article class="icon-box style9">
                                        <i class="fa fa-compass"></i><br>
                                        <h5 class="box-title uppercase"><b>Get Free Travel Leads</b></h5>
                                    </article>
									<article class="icon-box style9">
                                        <i class="fa fa-image"></i><br>
                                        <h5 class="box-title uppercase"><b>Cab & Sightseeing Services</b></h5>
                                    </article>
									<article class="icon-box style9">
                                        <i class="fa fa-bullseye"></i><br>
                                        <h5 class="box-title uppercase"><b>Advertise Your Packages For Free</b></h5>
                                    </article>
                                    <article class="icon-box style9">
                                        <i class="fa fa-search-plus"></i><br>
                                        <h5 class="box-title uppercase"><b>Network of 12000+ Partners</b></h5>
                                    </article>
									<article class="icon-box style9">
                                        <i class="fa fa-map"></i><br>
                                        <h5 class="box-title uppercase"><b>250+ Destinations Worldwide</b></h5>
                                    </article>
                                    <article class="icon-box style9">
                                        <i class="fa fa-shield"></i><br>
                                        <h5 class="box-title uppercase"><b>Create Customized Packages For Customer</b></h5>
                                    </article>
									<article class="icon-box style9">
                                        <i class="fa fa-info"></i><br>
                                        <h5 class="box-title uppercase"><b>Dedicated Reservation Managers For Help</b></h5>
                                    </article>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
			 
			  <div class="container section"><center>
                    <h1 class="title"><big><b>TOP DESTINATIONS</b></big></h1>
				<br><br></center>
                <div class=" image-carousel style2 row-2"  data-item-width="170" data-item-margin="30">
                    
				<ul class="slides" >
                        
                        <li style="width: 170px; float: left; display: block;">
                            <a href="http://business.thetravelsquare.in/destinations/maldives" class="hover-effect">
							<div class="overlaycity">
                            <figure>
                                <img src="http://thetravelsquare.in/images/maldives-packages-the-travel-square.png" draggable="false" alt="the travel square b2b maldives" title="the travel square b2b maldives">
                            <div class="picturecity">
								<center>
								<h4 class="post-title entry-title"><font color="white" ><big><b>Maldives</b></big></font></h4>
								</center>
							</div>
                            </figure>
							</div>
                                
                            </a>
                            <a href="http://business.thetravelsquare.in/destinations/singapore" class="hover-effect">
							<div class="overlaycity">
                            <figure>
                                <img src="http://thetravelsquare.in/images/singapore-packages-the-travel-square.png" alt="the travel square b2b signapore" title="the travel square b2b singapore" draggable="false">
                            <div class="picturecity">
								<center>
								<h4 class="post-title entry-title"><font color="white" ><big><b>Singapore</b></big></font></h4>
								</center>
							</div>
                            </figure>
							</div>
                            </a>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <a href="http://business.thetravelsquare.in/destinations/ladakh" class="hover-effect">
							<div class="overlaycity">
                            <figure>
                                <img src="http://thetravelsquare.in/images/ladakh-packages-the-travel-square.png" alt="the travel square b2b ladakh" title="the travel square b2b ladakh" draggable="false">
                            <div class="picturecity">
								<center>
								<h4 class="post-title entry-title"><font color="white" ><big><b>Ladakh</b></big></font></h4>
								</center>
							</div>
                            </figure>
							</div>
                            </a>
                            <a href="http://business.thetravelsquare.in/destinations/london" class="hover-effect">
							<div class="overlaycity">
                            <figure>
                                <img src="http://thetravelsquare.in/images/london-packages-the-travel-square.png" alt="the travel square b2b london" title="the travel square b2b london" draggable="false">
                            <div class="picturecity">
								<center>
								<h4 class="post-title entry-title"><font color="white" ><big><b>London</b></big></font></h4>
								</center>
							</div>
                            </figure>
							</div>
                            </a>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <a href="http://business.thetravelsquare.in/destinations/new-york" class="hover-effect">
                            <div class="overlaycity">
                            <figure>
                                <img src="http://thetravelsquare.in/images/new-york-packages-the-travel-square.png" alt="the travel square b2b new york" title="the travel square b2b new york" draggable="false">
                            <div class="picturecity">
								<center>
								<h4 class="post-title entry-title"><font color="white" ><big><b>NewYork</b></big></font></h4>
								</center>
							</div>
                            </figure>
							</div>
                            </a>
                            <a href="http://business.thetravelsquare.in/destinations/bali" class="hover-effect">
                            <div class="overlaycity">
                            <figure>
                                <img src="http://thetravelsquare.in/images/bali-packages-the-travel-square.png" alt="the travel square b2b bali" title="the travel square b2b bali" draggable="false">
                            <div class="picturecity">
								<center>
								<h4 class="post-title entry-title"><font color="white" ><big><b>Bali</b></big></font></h4>
								</center>
							</div>
                            </figure>
							</div>
                            </a>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <a href="http://business.thetravelsquare.in/destinations/goa" class="hover-effect">
                            <div class="overlaycity">
                            <figure>
								<img src="http://thetravelsquare.in/images/goa-packages-the-travel-square.png" alt="the travel square b2b goa" title="the travel square b2b goa" draggable="false">
                            <div class="picturecity">
								<center>
								<h4 class="post-title entry-title"><font color="white" ><big><b>Goa</b></big></font></h4>
								</center>
							</div>
                            </figure>
							</div>
                            </a>
                            <a href="http://business.thetravelsquare.in/destinations/krabi" class="hover-effect">
                            <div class="overlaycity">
                            <figure>
								<img src="http://thetravelsquare.in/images/krabi-packages-the-travel-square.png" alt="the travel square b2b krabi" title="the travel square b2b krabi" draggable="false">
                            <div class="picturecity">
								<center>
								<h4 class="post-title entry-title"><font color="white" ><big><b>Krabi</b></big></font></h4>
								</center>
							</div>
                            </figure>
							</div>
                            </a>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <a href="http://business.thetravelsquare.in/destinations/pattaya" class="hover-effect">
                            <div class="overlaycity">
                            <figure>
								<img src="http://thetravelsquare.in/images/pattaya-packages-the-travel-square.png" alt="the travel square b2b pattaya" title="the travel square b2b pattaya" draggable="false">
                            <div class="picturecity">
								<center>
								<h4 class="post-title entry-title"><font color="white" ><big><b>Pattaya</b></big></font></h4>
								</center>
							</div>
                            </figure>
							</div>
                            </a>
                            <a href="http://business.thetravelsquare.in/destinations/dubai" class="hover-effect">
                            <div class="overlaycity">
                            <figure>
								<img src="http://thetravelsquare.in/images/dubai-packages-the-travel-square.png" alt="the travel square b2b dubai" title="the travel square b2b dubai" draggable="false">
                            <div class="picturecity">
								<center>
								<h4 class="post-title entry-title"><font color="white" ><big><b>Dubai</b></big></font></h4>
								</center>
							</div>
                            </figure>
							</div>
                            </a>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <a href="http://business.thetravelsquare.in/destinations/switzerland" class="hover-effect">
                            <div class="overlaycity">
                            <figure>
								<img style="height: 160px;" src="http://thetravelsquare.in/images/switzerland-packages-the-travel-square.jpg" alt="the travel square b2b switzerland" title="the travel square b2b egypt" draggable="false">
                            <div class="picturecity">
								<center>
								<h4 class="post-title entry-title"><font color="white" ><big><b>Switzerland</b></big></font></h4>
								</center>
							</div>
                            </figure>
							</div>
                            </a>
                            <a href="http://business.thetravelsquare.in/destinations/bangkok" class="hover-effect">
                            <div class="overlaycity">
                            <figure>
								<img src="http://thetravelsquare.in/images/bangkok-packages-the-travel-square.png" alt="the travel square b2b bangkok" title="the travel square b2b bangkok" draggable="false">
                            <div class="picturecity">
								<center>
								<h4 class="post-title entry-title upperc"><font color="white" ><big><b>Bangkok</b></big></font></h4>
								</center>
							</div>
                            </figure>
							</div>
                            </a>
                        </li>
						
                    </ul></div>
            
            <br><br><center><a href="/destinations" class="button btn-large sky-blue1 uppercase">See More Inspiring Destinations</a></center>
			
			</div>

                <div class="container">
				
				<div id="collections" class="block">
                    <center><h1 class="title"><big><b>HAPPY TRAVEL AGENTS & PARTNERS</b></big></h1>
				<br></center>
                    <div class="row image-box style4">
						<div class="col-sm-4">
                            <article class="box">
                                <figure>
                                    <a class="hover-effect" href="http://thetravelsquare.org" title="">
									<img style="width:370px; height:250px" src="http://thetravelsquare.in/images/the-travel-square-logo-our-story.png" alt="the travel square b2b story" title="the travel square b2b story" ></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Our Journey | Read Our Story</h4>
                                    <a href="http://thetravelsquare.org" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-4">
                            <article class="box">
                                <figure>
                                    <a class="hover-effect" href="partners-review-rishabh-jain-the-travel-square.html" title="">
									<img style="width:370px; height:250px"  src="http://thetravelsquare.in/images/rishabh-jain-travel-agent.png" alt="the travel square b2b testimonial" title="the travel square b2b testimonial" ></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Rishabh Jain From Jaipur</h4>
                                    <a href="/rishabh-jain" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                </div>
                            </article>
                        </div>
						<div class="col-sm-4">
                            <article class="box">
                                <figure>
                                    <a class="hover-effect" href="partners-review-abhinav-patil-the-travel-square.html" title="">
									<img style="width:370px; height:250px"  src="http://thetravelsquare.in/images/abhinav-patil-travel-agent.jpg" alt="the travel square b2b testimonial" title="the travel square b2b testimonial" ></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Abhinav Patil From Maharashtra</h4>
                                    <a href="/abhinav-patil" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                </div>
                            </article>
                        </div>
		
						
						
                    </div>
                </div>
				
				</div>
				
            
			
		<div class="section white-bg">
                <div class="container">
                    <center>
                <h1 class="title"><big><b>OUR PARTNERS & SUPPLIERS</b></big></h1>
				<p><font color="black"><b></b></font></p><br></center><br><br>
                    <div class="investor image-carousel style2 investor-list animated fadeInUp" data-animation-type="fadeInUp" data-animation="slide" data-item-width="190" data-item-margin="30" style="animation-duration: 1s; visibility: visible;">
                        
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
					<ul >
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.theleela.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/the-leela-palaces-and-resort-the-travel-square-partners.jpg" alt="the travel square b2b the leela palaces and resort" title="the travel square b2b the leela palaces and resort" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.cruisingindia.in" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/cruising-india-the-travel-square.jpg" alt="the travel square b2b cruising india" title="the travel square b2b cruising india" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.tajhotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/taj-hotel-the-travel-square-partners.jpg" alt="the travel square b2b taj hotels" title="the travel square b2b taj hotels" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.wyndhamhotels.com/ramada" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/ramada-the-travel-square-partners.jpg" alt="the travel square b2b ramada" title="the travel square b2b ramada" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="www.fourseasons.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/Four_Seasons.jpg" alt="the travel square b2b four seasons" title="the travel square b2b four seasons" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.cruisader.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/cruisader-by-the-travel-square.jpg" alt="the travel square b2b cruisader" title="the travel square b2b cruisader" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.thelalit.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/the-lalit-the-travel-square-partners.jpg" alt="the travel square b2b the lalit" title="the travel square b2b the lalit" draggable="false"></a>
                                </div>
                            </li>
                            <li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.radissonhotelgroup.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/radisson-hotel-group-the-travel-square-partners.jpg" alt="the travel square b2b radisson hotel group" title="the travel square b2b radisson hotel group" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.itchotels.in/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/itc-hotel-group-the-travel-square-partners.jpg" alt="the travel square b2b ITC hotels" title="the travel square b2b itc hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.hilton.com/en/conrad/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/conrad-hotel-the-travel-square.jpg " alt="the travel square b2b hilton" title="the travel square b2b hilton" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.fortunehotels.in/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/fortune-the-travel-square.jpg" alt="the travel square b2b fortune hotels" title="the travel square b2b fortune hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="www.choicehotels.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/choice.jpg" alt="the travel square b2b choice hotels" title="the travel square b2b choice hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href=" http://parkhotelandresort.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/park-hotels-and-resorts-the-travel-square.jpg" alt="the travel square b2b park hotels and resorts" title="the travel square b2b park hotels and resorts" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.shangri-la.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/shangri-la-hotels-and-resorts-the-travel-square.jpg" alt="the travel square b2b shangri-la" title="the travel square b2b shangri-la" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.goldentulip.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/GoldenTulipHotelandResorts.jpg" alt="the travel square b2b four seasons" title="the travel square b2b four seasons" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.sarovarhotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/the-travel-square-sarovar-hotel-and-resorts-partners.jpg" alt="the travel square b2b sarovar hotels" title="the travel square b2b sarovar hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.coxandkings.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/Cox-Kings.jpg" alt="the travel square b2b cox and kings" title="the travel square b2b cox and kings" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.marriott.com/default.mi" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/starwood.jpg" alt="the travel square b2b four starwood marriot" title="the travel square b2b starwood marriott" draggable="false"></a>
                                </div>
                            </li>
							
                           
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.accorhotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/accor-hotels-the-travel-square.jpg" alt="the travel square b2b accor hotels" title="the travel square b2b accor hotels" draggable="false"></a>
                                </div>
                            </li>
							
							
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.fabhotels.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/fab-hotel-the-travel-square-partners.jpg" alt="the travel square b2b fab hotels" title="the travel square b2b fab hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.intercontinental.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/intercontinental-hotels-resorts-logo-vector.jpg" alt="the travel square b2b inter continental hotels" title="the travel square b2b inter continental hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.oberoihotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/The_Oberoi_Group.jpg" alt="the travel square b2b oberioi hotels" title="the travel square b2b oberioi hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://westin.marriott.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/westin-logo.jpg" alt="the travel square b2b marriott" title="the travel square b2b marriott" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.whitbread.co.uk/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/whitebread.jpg" alt="the travel square b2b white bread" title="the travel square b2b white bread" draggable="false"></a>
                                </div>
                            </li>
							
                        </ul></div></div>
                </div>
				<br><br><center><a href="/suppliers" class="button btn-large sky-blue1 uppercase">See All Partners & DMC's</a></center>
            </div>
			
			
			
            <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="0.5" style="background-position: 50% 0px;">
                <div class="container">
                    <div class="content-section description pull-right col-sm-9" style="height: 273px;">
                        <div class="table-wrapper hidden-table-sm" style="height: 100%;">
                            <div class="table-cell">
                                <h2 class="m-title animated" data-animation-type="fadeInDown">
                                   <font color="black"> We Connect You Directly With The Suppliers.<br><em>Supplies From More Than 250+ DMC's</em></font>
                                </h2>
                            </div>
                            <div class="table-cell action-section col-md-4 no-float">
                                <form action="" method="post">
                                    <div class="row">
                                        
                                        <div class="col-xs-6 col-md-12">
                                            <a href="http://partner.thetravelsquare.in/signup.php" class="uppercase button full-width btn-large sky-blue1 animated" data-animation-type="fadeInUp" data-animation-delay="1">Join Now</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="image-container col-sm-4" style="height: 273px; margin-left: -5%; position: relative;">
                        <img src="http://thetravelsquare.in/images/the-travel-square-b2b-we-connect-you-directly-with-suppliers.png" alt="the travel square b2b" title="the travel square b2b" width="320" height="675" class="animated" data-animation-type="fadeInUp" data-animation-duration="2" style="position: absolute; bottom: 0px; left: 0px;">
                   
				   </div>
                </div>
            </div>
		</div>	
        </section><hr>
		
        
          <footer id="footer" class="style5">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                       
						
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>The Travel Square</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">About Company</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/jobs">Jobs & Carreers</a></li>
								<li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">Corporate Office</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal">Legal Info</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/press-release">Press Release</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/terms-and-conditions">T & C</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/customer-care">Customer Care</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/privacy-policy">Privacy Policies</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/partner-care">Partner Help</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/faq">FAQ's</a></li>
                                <li class="col-xs-6"><a href="http://www.business.thetravelsquare.in/site-map">Site Map</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <h2>More of us !</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.signatureclubmembership.com/" target="_blank">Signature Club</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.cruisader.com/" target="_blank">Cruisader</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.cruisingindia.in/" target="_blank">Cruising India</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.happenings.ind.in/" target="_blank">Happenings</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.shoppist.in/" target="_blank">Shoppist</a></li><br><br>
                                
                            </ul>
                        </div><hr>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>About Us</h2>
                            <b><p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In Style With Luxury at Affordable Pricing . </p></b>
                            <br>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="Join Us on Twitter" href="https://twitter.com/travelsquareb2b" rel="nofollow" data-toggle="tooltip"  Target="_blank" data-original-title="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="facebook"><a title="Join Us on Facebook" href="https://www.facebook.com/thetravelsquareb2b/" rel="nofollow" Target="_blank" data-toggle="tooltip" data-original-title="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="linkedin"><a title="Join Us on Linked In" href="https://www.linkedin.com/company/thetravelsquareb2b" rel="nofollow" Target="_blank" data-toggle="tooltip" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li class="vimeo"><a title="Join Us on Instagram" href="https://www.instagram.com/thetravelsquareb2b/" data-toggle="tooltip" rel="nofollow" Target="_blank" data-original-title="vimeo"><i class="fa fa-instagram"></i></a></li>
                                <li class="dribble"><a title="Join Us on Youtube" href="https://www.youtube.com/channel/UCqi_w8JlO-1VEmVUItvr8og" rel="nofollow" Target="_blank" data-toggle="tooltip" data-original-title="dribble"><i class="fa fa-youtube"></i></a></li>
 
                            </ul><br><br>
							
                        </div>
						<center>
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<br>
                            <img src="http://thetravelsquare.in/images/the-travel-square-logo-200x200.png" alt="the travel square b2b" title="the travel square b2b">
							<br><br>
							<div class="row">
							<a rel="nofollow" href="https://play.google.com/store?hl=en"><img src="http://thetravelsquare.in/images/the-travel-square-google-playstore.png" alt="the travel square b2b" title="the travel square b2b" height="35" width="100">
							<a rel="nofollow" href="https://www.apple.com/in/"><img src="http://thetravelsquare.in/images/the-travel-square-apple-store-ios.png" alt="the travel square b2b" title="the travel square b2b" height="35" width="100"></div>
                        </div>
						</center>
                    </div>
					
                </div>
				
			<center>
			<a rel="nofollow" href="https://www.paypal.com/in/home"><img alt="the travel square b2b" title="the travel square b2b" src="http://thetravelsquare.in/images/the-travel-square-visa-debit-credit-card.png" height="70" width="350">
			<a rel="nofollow" href="https://www.payumoney.com/"><img alt="the travel square b2b" title="the travel square b2b" src="http://thetravelsquare.in/images/the-travel-square-payu-paypal.png" height="70" width="300">
			</center><br>
            </div>
			
			
            <div class="bottom gray-area">
                <div class="container">
                    
                    <div class="pull-right">
                        <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="fa fa-arrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>© 2019 Business | The Travel Square</p>
                    </div>
                </div>
            </div>
        </footer><br><br><br>
<br>
    
<div class="footer">&nbsp;
  <div class="container">
                    
                    <div class="pull-left">
                       <h2 class=""><font color="white">Join Our Chat Forum</font></h2>
                    </div>
                   <div class="pull-right">
                       <a href="http://partner.thetravelsquare.in/join-chat-forum.php" class="button btn-medium white uppercase animated active" data-animation-type="fadeInRightBig"><font color="black">JOIN NOW</font></a>
                     </div>
                     
                </div> <br>
</div>

    <!-- Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/bootstrap.js.download"></script>

    <!-- Flex Slider -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.flexslider-min.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/scripts.js.download"></script>

    <script type="text/javascript">
        tjq("#slideshow .flexslider").flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: true,
            directionNav: false,
            slideshow: true,
            slideshowSpeed: 5000
        });
    </script>

	    
	<script>

$(document).ready(function() {
  // Gets the video src from the data-src on each button

  var $videoSrc;
  $(".video-btn").click(function() {
    $videoSrc = $(this).data("src");
  });
  console.log($videoSrc);

  // when the modal is opened autoplay it
  $("#myModal").on("shown.bs.modal", function(e) {
    // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
    $("#video").attr(
      "src",
      $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0"
    );
  });

  // stop playing the youtube video when I close the modal
  $("#myModal").on("hide.bs.modal", function(e) {
    // a poor man's stop video
    $("#video").attr("src", $videoSrc);
  });

});


</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <!-- 16:9 aspect ratio -->
            <iframe height="600" width="900" class="autoplay embed-responsive-item" src="https://www.youtube.com/embed/tVHSTtQfbAI?autoplay=1" rel="nofollow" id="video" allowscriptaccess="always" allow="autoplay"></iframe>

    </div>
  </div>

</body></html>