<!DOCTYPE html>

<html class="js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Page Title -->
    <title>Business | The Travel Square | B2B Travel Solution</title>
    
    <!-- Meta Tags -->
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="bk7IvbrIjzBSUPuQJG6xa_1uC7qiHNAkaWxAx7aDQys" />
	<meta name="author" content="Travel Beans">
    <meta name="description" content="">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 hour">
    <meta name="designer" content="The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="The Travel Square">

    <meta property="og:title" content="The Travel Square">
    <meta property="og:description" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta property="og:image" content="">
  
    <meta name="twitter:card" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="format-detection" content="7428558566">
    
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TPZH8MK');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EE16CRYW41"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'G-EE16CRYW41');
</script>
	
	
	<link rel="shortcut icon" href="" type="image/x-icon">
    
    <!-- Theme Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/bootstrap.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/font-awesome.min.css">
    <link href="http://thetravelsquare.in/files/css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    <!-- Main Style -->
    <!--<link id="main-style" rel="stylesheet" href="css/style.css">-->
    <script type="text/javascript">
        var mainStyle = "style.css";
        if (typeof localStorage != "undefined") {
            var colorSkin = localStorage.getItem("colorSkin");
            if (colorSkin != null) {
                mainStyle = "style-" + colorSkin + ".css";
            }
        }
        document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');
    </script><link id="main-style" rel="stylesheet" href="http://thetravelsquare.in/files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/responsive.css">

<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
</style>

</head>

<body>
    <div id="page-wrapper">
       
	           <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="/contact">Partner Care</a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a href="http://partner.thetravelsquare.in/login.php" class="button white btn-small" style="height: 30px; font-size: 1em;">
						<font color="black">SIGN UP / LOGIN</font></a></li>
                        <!-- <li><a href="customer-care.html" class="soap-popupbox">Booking Cart</a></li> -->

                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="" data-toggle="collapse" class="mobile-menu-toggle">
                    Menu
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height: 0%; ">
                        <a href="http://www.thetravelsqaure.com" title="The Travel Sqaure">
                            <img src="http://thetravelsquare.in/images/the-travel-square-india-logo.png" alt="The Travel Sqaure">
                        </a>
                    </h1><br>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
							<li class="menu-item-has-children">
                                <a href="/hotel"><b>Hotel</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in"><b><big>Partner With Us</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                            
                            
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                                <a href="#"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in"><b><big>Partner With Us</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="/supliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="/contact"><b>Contact Us</b></a>
                                
                            </li>
                    </ul>
                    
                    <ul class="mobile-topnav container">
                        <center><br>
						<button class="button full-width white uppercase animated" data-animation-type="tada"><b><big><font color="black">Login / Sign Up</font></big></b></button>
                        
                    </ul>
                    <br>
                </nav>
				
				
            </div>
        </header>

 
		<section id="content" class="tour">
            <div id="slideshow" class="slideshow-bg full-screen" style="height: 305px;">
                <div class="flexslider">
                    <ul class="slides">
                        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; transition: opacity 0.6s ease; z-index: 1;">
                            <div class="slidebg" style="background-image: url(http://thetravelsquare.in/images/the-travel-square-business.jpg);"></div>
                        </li>
						<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.6s ease; z-index: 2;">
                            <div class="slidebg" style="background-image: url(http://thetravelsquare.in/images/the-travel-square-partner-with-us.jpg);"></div>
                        </li>
                    </ul>
                </div>
				
				
                <div class="container">
                    <div class="table-wrapper full-width">
                        <div class="table-cell">
                            
                            <div class="heading box">
                                <h1 class="title pull-left"><font color="black">GROW YOUR TRAVEL BUSINESS </font></h1><br><br><br>
								
                            </div>
							<div class="text pull-left">
                                <h2 class="pull-left uppercase">Buy Inventory For Your Travel Leads Directly From DMC's , & Suppliers </h2>
							
							</div>
                            <div class="text-center pull-left"><br><br>
                                <a href="http://partner.thetravelsquare.in/signup.php" class="button btn-large sky-blue1 uppercase animated" data-animation-type="fadeInLeftBig">Register With Us</a>
                                &nbsp;&nbsp;
                                <a href="http://partner.thetravelsquare.in/login.php" class="button btn-large sky-blue1 uppercase animated" data-animation-type="fadeInRightBig">Sign In / Log In</a>
                                &nbsp;&nbsp;
									</div>
									
                            
                        </div>
                    </div>
                </div>
				
			</div>
			
            
        </section>
        
        <section id="content bg-white">
			 
			 <div class="container section">
			 
			 <div class="large-block">
			 
                        <div class="travelo-box">
                            <div class="overflow-hidden">
							
			 <center>
                <h1 class="title"><big><b>WHY JOIN THE TRAVEL SQUARE PARTNER PROGRAM ? </b></big></h1><br><br><br></center>
                                <div class="services column-5-no-margin">
                                    <article class="icon-box style9">
                                        <i class="fa fa-clipboard"></i><br>
                                        <h5 class="box-title uppercase"><b>Dedicated Travel Dashboards</b></h5>
                                    </article>
                                    <article class="icon-box style9">
                                        <i class="fa fa-tags"></i><br>
                                        <h5 class="box-title uppercase"><b>Fixed B2B Pricing</b></h5>
                                    </article>
                                    <article class="icon-box style9">
                                        <i class="fa fa-pause"></i><br>
                                        <h5 class="box-title uppercase"><b>Ability To Hold Prices</b></h5>
                                    </article>
									<article class="icon-box style9">
                                        <i class="fa fa-compass"></i><br>
                                        <h5 class="box-title uppercase"><b>Get Free Travel Leads</b></h5>
                                    </article>
									<article class="icon-box style9">
                                        <i class="fa fa-image"></i><br>
                                        <h5 class="box-title uppercase"><b>Cab & Sightseeing Services</b></h5>
                                    </article>
									<article class="icon-box style9">
                                        <i class="fa fa-bullseye"></i><br>
                                        <h5 class="box-title uppercase"><b>Advertise Your Packages For Free</b></h5>
                                    </article>
                                    <article class="icon-box style9">
                                        <i class="fa fa-search-plus"></i><br>
                                        <h5 class="box-title uppercase"><b>Network of 12000+ Partners</b></h5>
                                    </article>
									<article class="icon-box style9">
                                        <i class="fa fa-map"></i><br>
                                        <h5 class="box-title uppercase"><b>250+ Destinations Worldwide</b></h5>
                                    </article>
                                    <article class="icon-box style9">
                                        <i class="fa fa-shield"></i><br>
                                        <h5 class="box-title uppercase"><b>Create Customized Packages For Customer</b></h5>
                                    </article>
									<article class="icon-box style9">
                                        <i class="fa fa-info"></i><br>
                                        <h5 class="box-title uppercase"><b>Dedicated Reservation Managers For Help</b></h5>
                                    </article>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
			 
			 
			 <center>
                <h1 class="title"><big><b>DESTINATIONS</b></big></h1>
				<br><br></center>
                <div class=" image-carousel style2 row-2" data-animation="slide" data-item-width="170" data-item-margin="30">
                    
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
				<ul class="slides" style="width: 2000%; transition-duration: 0s; transform: translate3d(-200px, 0px, 0px);">
                        
                        <li style="width: 170px; float: left; display: block;">
                            <a href="http://thetravelsquare.in/destinations/maldives" class="hover-effect">
                                <img src="http://thetravelsquare.in/images/maldives-packages-the-travel-square.png" alt="" draggable="false">
                                <p class="caption uppercase">Maldives</p>
                            </a>
                            <a href="http://thetravelsquare.in/destinations/singapore" class="hover-effect">
                                <img src="http://thetravelsquare.in/images/singapore-packages-the-travel-square.png" alt="" draggable="false">
                                <p class="caption uppercase">Singapore</p>
                            </a>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <a href="http://thetravelsquare.in/destinations/ladakh" class="hover-effect">
                                <img src="http://thetravelsquare.in/images/ladakh-packages-the-travel-square.png" alt="" draggable="false">
                                <p class="caption uppercase">Ladakh</p>
                            </a>
                            <a href="http://thetravelsquare.in/destinations/london" class="hover-effect">
                                <img src="http://thetravelsquare.in/images/london-packages-the-travel-square.png" alt="" draggable="false">
                                <p class="caption uppercase">London</p>
                            </a>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <a href="http://thetravelsquare.in/destinations/new-york" class="hover-effect">
                                <img src="http://thetravelsquare.in/images/new-york-packages-the-travel-square.png" alt="" draggable="false">
                                <p class="caption uppercase">New York</p>
                            </a>
                            <a href="http://thetravelsquare.in/destinations/bali.html" class="hover-effect">
                                <img src="http://thetravelsquare.in/images/bali-packages-the-travel-square.png" alt="" draggable="false">
                                <p class="caption uppercase">Bali</p>
                            </a>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <a href="http://thetravelsquare.in/destinations/goa" class="hover-effect">
                                <img src="http://thetravelsquare.in/images/goa-packages-the-travel-square.png" alt="" draggable="false">
                                <p class="caption uppercase">Goa</p>
                            </a>
                            <a href="http://thetravelsquare.in/destinations/krabi" class="hover-effect">
                                <img src="http://thetravelsquare.in/images/krabi-packages-the-travel-square.png" alt="" draggable="false">
                                <p class="caption uppercase">Krabi</p>
                            </a>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <a href="http://thetravelsquare.in/destinations/pattaya" class="hover-effect">
                                <img src="http://thetravelsquare.in/images/pattaya-packages-the-travel-square.png" alt="" draggable="false">
                                <p class="caption uppercase">Pattaya</p>
                            </a>
                            <a href="http://thetravelsquare.in/destinations/dubai" class="hover-effect">
                                <img src="http://thetravelsquare.in/images/dubai-packages-the-travel-square.png" alt="" draggable="false">
                                <p class="caption uppercase">Dubai</p>
                            </a>
                        </li>
                        <li style="width: 170px; height: 161px; float: left; display: block;">
                            <a href="http://thetravelsquare.in/destinations/switzerland" class="hover-effect">
                                <img style="width: 170px; height: 161px;" src="http://thetravelsquare.in/images/switzerland-packages-the-travel-square.jpg" alt="" draggable="false">
                                <p class="caption uppercase">Switzerland</p>
                            </a>
                            <a href="http://thetravelsquare.in/destinations/bangkok" class="hover-effect">
                                <img src="http://thetravelsquare.in/images/bangkok-packages-the-travel-square.png" alt="" draggable="false">
                                <p class="caption uppercase">Bangkok</p>
                            </a>
                        </li>
						
                    </ul></div>
					
					
					
					</div>
			
            <br><br>
            <br><br>
			
                <div class="container">
				
				<div id="collections" class="block">
                    <center><h1 class="title"><big><b>HAPPY TRAVEL AGENTS & PARTNERS</b></big></h1>
				<br></center>
                    <div class="row image-box style4">
						<div class="col-sm-4">
                            <article class="box">
                                <figure>
                                    <a class="hover-effect" href="campsite-travel-beans-hotel-collections.html" title="">
									<img style="width: 370px; height: 300px" src="http://thetravelsquare.in/images/the-travel-square-logo.png" alt="" ></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Our Journey | Read Our Story</h4>
                                    <a href="campsite-travel-beans-hotel-collections.html" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-4">
                            <article class="box">
                                <figure>
                                    <a class="hover-effect" href="/agent/rishabh" title="">
									<img style="width: 370px; height: 300px" src="http://thetravelsquare.in/images/rishabh-jain-travel-agent.png" alt="" ></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Rishabh Jain From Jaipur</h4>
                                    <a href="/agent/rishabh" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                </div>
                            </article>
                        </div>
						<div class="col-sm-4">
                            <article class="box">
                                <figure>
                                    <a class="hover-effect" href="/agent/abhinav" title="">
									<img style="width: 370px; height: 300px" src="http://thetravelsquare.in/images/abhinav-patil-travel-agent.jpg" alt=""></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Abhinav Patil From Maharashtra</h4>
                                    <a href="/agent/abhinav" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                </div>
                            </article>
                        </div>
		
						
						
                    </div>
                </div>
				
				</div>
				
            
			
		<div class="section white-bg">
                <div class="container">
                    <center>
                <h1 class="title"><big><b>OUR PARTNERS & SUPPLIERS</b></big></h1>
				<p><font color="black"><b></b></font></p><br></center><br><br>
                    <div class="investor image-carousel style2 investor-list animated fadeInUp" data-animation-type="fadeInUp" data-animation="slide" data-item-width="190" data-item-margin="30" style="animation-duration: 1s; visibility: visible;">
                        
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
					<ul >
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.theleela.com/" target="_blank"><img src="http://thetravelsquare.in/images/partners/the-leela-palaces-and-resort-the-travel-square-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.cruisingindia.in" target="_blank"><img src="http://thetravelsquare.in/images/partners/cruising-india-the-travel-square.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.tajhotels.com/" target="_blank"><img src="http://thetravelsquare.in/images/partners/taj-hotel-the-travel-square-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.wyndhamhotels.com/ramada" target="_blank"><img src="http://thetravelsquare.in/images/partners/ramada-the-travel-square-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="www.fourseasons.com" target="_blank"><img src="http://thetravelsquare.in/images/partners/Four_Seasons.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.cruisader.com" target="_blank"><img src="http://thetravelsquare.in/images/partners/cruisader-by-the-travel-square.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.thelalit.com/" target="_blank"><img src="http://thetravelsquare.in/images/partners/the-lalit-the-travel-square-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
                            <li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.radissonhotelgroup.com/" target="_blank"><img src="http://thetravelsquare.in/images/partners/radisson-hotel-group-the-travel-square-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.itchotels.in/" target="_blank"><img src="http://thetravelsquare.in/images/partners/itc-hotel-group-the-travel-square-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.hilton.com/en/conrad/" target="_blank"><img src="http://thetravelsquare.in/images/partners/conrad-hotel-the-travel-square.jpg " alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.fortunehotels.in/" target="_blank"><img src="http://thetravelsquare.in/images/partners/fortune-the-travel-square.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="www.choicehotels.com" target="_blank"><img src="http://thetravelsquare.in/images/partners/choice.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href=" http://parkhotelandresort.com/" target="_blank"><img src="http://thetravelsquare.in/images/partners/park-hotels-and-resorts-the-travel-square.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.shangri-la.com/" target="_blank"><img src="http://thetravelsquare.in/images/partners/shangri-la-hotels-and-resorts-the-travel-square.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.goldentulip.com" target="_blank"><img src="http://thetravelsquare.in/images/partners/GoldenTulipHotelandResorts.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.sarovarhotels.com/" target="_blank"><img src="http://thetravelsquare.in/images/partners/the-travel-square-sarovar-hotel-and-resorts-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.coxandkings.com" target="_blank"><img src="http://thetravelsquare.in/images/partners/Cox-Kings.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.marriott.com/default.mi" target="_blank"><img src="http://thetravelsquare.in/images/partners/starwood.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
                           
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.accorhotels.com/" target="_blank"><img src="http://thetravelsquare.in/images/partners/accor-hotels-the-travel-square.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.fabhotels.com" target="_blank"><img src="http://thetravelsquare.in/images/partners/fab-hotel-the-travel-square-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.intercontinental.com" target="_blank"><img src="http://thetravelsquare.in/images/partners/intercontinental-hotels-resorts-logo-vector.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.oberoihotels.com/" target="_blank"><img src="http://thetravelsquare.in/images/partners/The_Oberoi_Group.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://westin.marriott.com/" target="_blank"><img src="http://thetravelsquare.in/images/partners/westin-logo.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.whitbread.co.uk/" target="_blank"><img src="http://thetravelsquare.in/images/partners/whitebread.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
                        </ul></div></div>
                </div>
				<br><br><center><a href="/suppliers" class="button btn-large sky-blue1 uppercase">See All Partners & DMC's</a></center>
            </div>
			
			
			
            <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="0.5" style="background-position: 50% 0px;">
                <div class="container">
                    <div class="content-section description pull-right col-sm-9" style="height: 273px;">
                        <div class="table-wrapper hidden-table-sm" style="height: 100%;">
                            <div class="table-cell">
                                <h2 class="m-title animated" data-animation-type="fadeInDown">
                                   <font color="black"> We Connect You Directly With The Suppliers.<br><em>Supplies From More Than 250+ DMC's</em></font>
                                </h2>
                            </div>
                            <div class="table-cell action-section col-md-4 no-float">
                                <form action="" method="post">
                                    <div class="row">
                                        
                                        <div class="col-xs-6 col-md-12">
                                            <button class="full-width btn-large sky-blue1 animated" data-animation-type="fadeInUp" data-animation-delay="1">Join Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="image-container col-sm-4" style="height: 273px; margin-left: -5%; position: relative;">
                        <img src="http://thetravelsquare.in/images/the-travel-square-b2b-we-connect-you-directly-with-suppliers.png" alt="" width="320" height="675" class="animated" data-animation-type="fadeInUp" data-animation-duration="2" style="position: absolute; bottom: 0px; left: 0px;">
                   
				   </div>
                </div>
            </div>
        </section><hr>
        
          <footer id="footer" class="style5">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                       
						
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>The Travel Square</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">About Company</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/jobs.html">Jobs & Carreers</a></li>
								<li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">Corporate Offices</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal.html">Legal Information</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/press.html">Press Release</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal.html">T & C</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/customer-care.html">Customer Care</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal.html">Privacy Policies</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/partner-Care.html">Partner Help</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/faq.html">FAQ's</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/site-map.html">Site Map</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/contact-Us.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>More of us !</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-"><a href="http://www.thetravelsquare.in/pro">Travel Square Business</a></li>
                                <li class="col-xs-"><a href="http://www.signatureclubmembership.com/">Signature Club</a></li>
                                <li class="col-xs-"><a href="http://www.cruisader.com/">Cruisader</a></li>
                                <li class="col-xs-"><a href="http://www.cruisingindia.in/">Cruising India</a></li>
                                <li class="col-xs-"><a href="http://www.happenings.ind.in/">Happenings</a></li>
                                <li class="col-xs-"><a href="http://www.shoppist.in/">Shoppist</a></li>
                                
                            </ul>
                        </div><hr>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>About Us</h2>
                            <p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . </p>
                            <br>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="Join Us on Twitter" href="https://twitter.com/travelsquare_" data-toggle="tooltip"  Target="_blank" data-original-title="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="facebook"><a title="Join Us on Facebook" href="https://www.facebook.com/thetravelsquare/" Target="_blank" data-toggle="tooltip" data-original-title="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="linkedin"><a title="Join Us on Linked In" href="https://www.linkedin.com/company/thetravelsquare" Target="_blank" data-toggle="tooltip" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li class="vimeo"><a title="Join Us on Instagram" href="https://www.instagram.com/The_Travel_Square/" data-toggle="tooltip" Target="_blank" data-original-title="vimeo"><i class="fa fa-instagram"></i></a></li>
                                <li class="dribble"><a title="Join Us on Youtube" href="https://www.youtube.com/channel/UCqi_w8JlO-1VEmVUItvr8og" Target="_blank" data-toggle="tooltip" data-original-title="dribble"><i class="fa fa-youtube"></i></a></li>
 
                            </ul><br>
                        </div><center>
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<br>
                            <img src="http://thetravelsquare.in/images/the-travel-square-logo-200x200.png">
                        </div></center>
                    </div>
					<center><br><br><br>
					<a href="https://play.google.com/store?hl=en"><img src="http://thetravelsquare.in/images/the-travel-square-google-playstore.png" height="60" width="300">
					<a href="https://www.apple.com/in/"><img src="http://thetravelsquare.in/images/the-travel-square-apple-store-ios.png" height="60" width="300">
					</center><br>
                </div>
				
			<center>
			<a href="https://www.paypal.com/in/home"><img src="http://thetravelsquare.in/images/the-travel-square-visa-debit-credit-card.png" height="70" width="350">
			<a href="https://www.payumoney.com/"><img src="http://thetravelsquare.in/images/the-travel-square-payu-paypal.png" height="70" width="300">
			</center><br>
            </div>
			
			
            <div class="bottom gray-area">
                <div class="container">
                    
                    <div class="pull-right">
                        <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="fa fa-arrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>© 2019 Business | The Travel Square</p>
                    </div>
                </div>
            </div>
        </footer><br><br><br><br>

<div class="footer">&nbsp;
  <div class="container">
                    
                    <div class="pull-left">
                       <h2 class=""><font color="white">Join Our Chat Forum</font></h2>
                    </div>
                   <div class="pull-right">
                       <a href="http://partner.thetravelsquare.in/group.php" class="button btn-medium white uppercase animated active" data-animation-type="fadeInRightBig"><font color="black">JOIN NOW</font></a>
                     </div>
                     
                </div> <br>

    </div>


    <!-- Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/bootstrap.js.download"></script>

    <!-- Flex Slider -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.flexslider-min.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/scripts.js.download"></script>

    <script type="text/javascript">
        tjq("#slideshow .flexslider").flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: true,
            directionNav: false,
            slideshow: true,
            slideshowSpeed: 5000
        });
    </script>

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPZH8MK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->



</body></html>
