<!DOCTYPE html>

<html class="js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Page Title -->
    <title>Partner Review | The Travel Square</title>
    
    <!-- Meta Tags -->
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Travel Beans">
    <meta name="description" content="">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 hour">
    <meta name="designer" content="The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="The Travel Square">

    <meta property="og:title" content="The Travel Square">
    <meta property="og:description" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta property="og:image" content="">
  
    <meta name="twitter:card" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="format-detection" content="7428558566">
    
	
	
	<link rel="shortcut icon" href="" type="image/x-icon">
    
    <!-- Theme Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/bootstrap.min.css">
    <link rel="stylesheet" href="files/font-awesome.min.css">
    <link href="http://thetravelsquare.in/files/css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <!-- Main Style -->
    <!--<link id="main-style" rel="stylesheet" href="css/style.css">-->
    <script type="text/javascript">
        var mainStyle = "style.css";
        if (typeof localStorage != "undefined") {
            var colorSkin = localStorage.getItem("colorSkin");
            if (colorSkin != null) {
                mainStyle = "style-" + colorSkin + ".css";
            }
        }
        document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');
    </script><link id="main-style" rel="stylesheet" href="http://thetravelsquare.in/files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/responsive.css">

</head>

<body>
    <div id="page-wrapper">
       
	           <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="http://www.thetravelsqaure.in/customer-care"><b>Customer Care</b></a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a href="http://www.thetravelsquare.in/login" class="button white btn-small" style="height: 30px; font-size: 1em;">
						<font color="black">SIGN UP / LOGIN</font></a></li>
                        <li><a href="http://www.thetravelsquare.in/booking-cart"><b><big>Cart</big></b></a></li>

                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="" data-toggle="collapse" class="mobile-menu-toggle">
                    Menu
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height: 0%; ">
                        <a href="http://www.thetravelsqaure.com" title="The Travel Sqaure">
                            <img src="http://thetravelsquare.in/images/the-travel-square-india-logo.png" alt="The Travel Sqaure">
                        </a>
                    </h1><br>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/index"><b>Holidays</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://www.thetravelsquare.in/hotels"><b><big>Hotels</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/flights"><b>Flights</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/experiences"><b>Experiences</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/cabs"><b>Cabs</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/visa"><b>Visa</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/visa"><b>Buses</b></a>
                                
                            </li>
                           
                            
                            
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children active">
                                <a href="http://www.thetravelsquare.in/index"><b>Holidays</b></a>
                                
                            </li>
                            <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/hotels"><b>Hotels</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/flights"><b>Flights</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/experiences"><b>Experiences</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/cabs"><b>Cabs</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.in/visa"><b>Visa</b></a>
                                
                            </li>
                    </ul>
                    
                    <ul class="mobile-topnav container">
                        <center><br>
						<button class="button full-width white uppercase animated" data-animation-type="tada"><b><big><font color="black">Login / Sign Up</font></big></b></button>
                        
                    </ul>
                    <br>
                </nav>
				
				
            </div>
			
        </header>

		<div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">The Travel Square Partners | Experience & Reviews</h2>
                </div>
               
            </div>
        </div>
		
		<section id="content">
            <div class="container">
                <div class="row">
                    <div id="main" class="col-sm-8 col-md-9">
                        <div class="page">
                           
                            <div class="post-content">
                                <div class="blog-infinite">
                                   
                                    
                                    <div class="post">
                                        <div class="post-content-wrapper">
                                            <div class="video-container">
                                                <div class="full-video">
                                                    <div class="fluid-width-video-wrapper" style="padding-top: 50%;"><iframe src="http://business.thetravelsquare.in/agent/rishabh" allowfullscreen="" id="fitvid25123"></iframe></div>
                                                </div>
                                            </div>
                                            <div class="details">
                                                <h2 class="entry-title"><a href="">Experience Working With The Travel Square Team | Rishabh Jain</a></h2>
                                                <div class="excerpt-container">
                                                    <p>Working With The Travel Square Team Has Been an Interesting Task , They Have a Good and a Dedicated Team Working With Good and Optimistic Approach . The Team Has a Good Quality of Not Giving up Againts The Queries Untill They Fullfill The Requirement . Its Been a Good Time Working With Them .</p>
													<p>Also their Newly Developed Tech and Portal for Bookings is Good and Simple to Use , it Has Also Resolved The Price Fluctuation Issue . Their Quick Response Against Our Leads and Level of Matching The Itinerary of Customer With Supply is Great. </p>
													<p>Nice Working With Them , and I Believ to Grow This Relation in Long Terms , Thanks. </p>
                                                </div>
                                           
                                            </div>
                                        </div>
                                    </div>
                               
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar col-sm-4 col-md-3">
                        <div class="travelo-box">
                            <center><h4>Need Some Help ?</h4>
                            <p>Our PR Executives Are Always Ready Help You 24/7 .</p>
                            <address class="contact-details">
                                <span class="contact-phone">+91-9650333567</span><br>
                                <br>
                                <a class="contact-email" href="">b2b@thetravelsquare.in</a>
                            </address></center>
                        </div>
                        <div class="travelo-box">
						 <center><h4 class="box-title">Our Partners & Recognitions</h4></center><br>
                            <div class="image-box style14">
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/The-Travel-Square-Partners-With-The-Leela-Palaces-Hotels-and-Resorts.jpg" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">The Leela</a></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/The-Travel-Square-Partners-With-OYO.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">OYO Rooms</a></h5>
                                    </div>
                                </article>
								<article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/The-Travel-Square-Partners-With-Club-Mahindra.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Club Mahindra</a></h5>
                                    </div>
                                </article>
								                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/The-Travel-Square-Partners-With-Country-Holiday-Inn-and-Suites-CHIS.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">CHIS</a></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/The-Travel-Square-Trav-Clan.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Trav Clan</a></h5>
                                    </div>
                                </article>
								<article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/The-Travel-Square-Partners-With-Go-Ibibo-Go-Stays.jpg" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Go Ibibo</a></h5>
                                    </div>
                                </article>
								<article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/ministry-of-corporate-affairs-of-india-The-Travel-Square.jpg" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">MCA</a></h5>
                                    </div>
                                </article>
								                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/start-up-india-the-travel-square.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Startup India</a></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/K-CIIS-kalam-center-for-innovation-and-incubation-of-start-up-the-travel-square.jpg" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Kalam Inclubation</a></h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                       
                       
                    </div>
                </div>
            </div>
        </section>
        
         <footer id="footer" class="style5">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                       
						
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>The Travel Square</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">About Company</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/jobs.html">Jobs & Carreers</a></li>
								<li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">Corporate Offices</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal.html">Legal Information</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/press.html">Press Release</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal.html">T & C</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/customer-care.html">Customer Care</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal.html">Privacy Policies</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/partner-Care.html">Partner Help</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/faq.html">FAQ's</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/site-map.html">Site Map</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/contact-Us.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>More of us !</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-"><a href="http://www.thetravelsquare.in/pro">Travel Square Business</a></li>
                                <li class="col-xs-"><a href="http://www.signatureclubmembership.com/">Signature Club</a></li>
                                <li class="col-xs-"><a href="http://www.cruisader.com/">Cruisader</a></li>
                                <li class="col-xs-"><a href="http://www.cruisingindia.in/">Cruising India</a></li>
                                <li class="col-xs-"><a href="http://www.happenings.ind.in/">Happenings</a></li>
                                <li class="col-xs-"><a href="http://www.shoppist.in/">Shoppist</a></li>
                                
                            </ul>
                        </div><hr>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>About Us</h2>
                            <p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . </p>
                            <br>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="Join Us on Twitter" href="https://twitter.com/travelsquare_" data-toggle="tooltip"  Target="_blank" data-original-title="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="facebook"><a title="Join Us on Facebook" href="https://www.facebook.com/thetravelsquare/" Target="_blank" data-toggle="tooltip" data-original-title="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="linkedin"><a title="Join Us on Linked In" href="https://www.linkedin.com/company/thetravelsquare" Target="_blank" data-toggle="tooltip" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li class="vimeo"><a title="Join Us on Instagram" href="https://www.instagram.com/The_Travel_Square/" data-toggle="tooltip" Target="_blank" data-original-title="vimeo"><i class="fa fa-instagram"></i></a></li>
                                <li class="dribble"><a title="Join Us on Youtube" href="https://www.youtube.com/channel/UCqi_w8JlO-1VEmVUItvr8og" Target="_blank" data-toggle="tooltip" data-original-title="dribble"><i class="fa fa-youtube"></i></a></li>
 
                            </ul><br>
                        </div><center>
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<br>
                            <img src="http://thetravelsquare.in/images/the-travel-square-logo-200x200.png">
                        </div></center>
                    </div>
					<center><br><br><br>
					<a href="https://play.google.com/store?hl=en"><img src="http://thetravelsquare.in/images/the-travel-square-google-playstore.png" height="60" width="300">
					<a href="https://www.apple.com/in/"><img src="http://thetravelsquare.in/images/the-travel-square-apple-store-ios.png" height="60" width="300">
					</center><br>
                </div>
				
			<center>
			<a href="https://www.paypal.com/in/home"><img src="http://thetravelsquare.in/images/the-travel-square-visa-debit-credit-card.png" height="70" width="350">
			<a href="https://www.payumoney.com/"><img src="http://thetravelsquare.in/images/the-travel-square-payu-paypal.png" height="70" width="300">
			</center><br>
            </div>
			
			
            <div class="bottom gray-area">
                <div class="container">
                    
                    <div class="pull-right">
                        <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="fa fa-arrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>© 2019 Copyright | The Travel Square</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <!-- Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/bootstrap.js.download"></script>

    <!-- Flex Slider -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.flexslider-min.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/scripts.js.download"></script>

    <script type="text/javascript">
        tjq("#slideshow .flexslider").flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: true,
            directionNav: false,
            slideshow: true,
            slideshowSpeed: 3000
        });
    </script>



</body></html>