<!DOCTYPE html>

	<html>

	<head>
	


    <!-- Page Title -->
    <title>Partner Care | The Travel Square Business</title>
    
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Business The Travel Square">
    <meta name="description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 Second">
    <meta name="designer" content="Business The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="Business The Travel Square">

    <meta property="og:title" content="The Travel Square">
	<meta property="og:image" content="http://www.thetravelsquare.in/the-travel-square-logo-thumbnail.png">
	<meta property="og:url" content="http://business.thetravelsquare.in/">
    <meta property="og:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
	
	<meta name="twitter:title" content="Business | The Travel Square B2B ">
	<meta name="twitter:image" content="http://www.thetravelsquare.in/the-travel-square-logo-thumbnail.png">
	<meta name="twitter:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
	<meta name="twitter:card" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="b2b travel, the travel square, b2b hotels, b2b flights, partner login b2b, b2b travel portal, b2b travel agencies, b2b dmc, hotel dmc's, b2b travel agency, b2b travel group, best b2b travel agency, India's Largest B2B Travel Network">
    <meta name="format-detection" content="7428558566">
    
	<meta property="fb:app_id" content="520084915232338" />
	<meta name="twitter:site" content="@thetravelsquareb2b">
	
    <link rel="shortcut icon" href="http://www.thetravelsquare.in/the-travel-square-logo-thumbnail.png" type="image/x-icon">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EE16CRYW41"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EE16CRYW41');
</script>

    <!-- Theme Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/bootstrap.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/font-awesome.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/animate.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Main Style -->
    
    <link id="main-style" rel="stylesheet" href="http://thetravelsquare.in/files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/responsive.css">
    
	<style>
	.responsive {
	width: 100%;
	max-height: 200%;
	height: auto;
	}
	</style>
	
	<body>
    
	<div id="page-wrapper">
       
	   <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="http://business.thetravelsqaure.in/partner-care" rel="follow">Partner Care</a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li>
						<a href="http://partner.thetravelsquare.in/login.php" class="button white btn-small" style="height: 30px; font-size: 1em;">
						<font color="black">PARTNER LOGIN</font></a></li>
                        <li><a href="customer-care.html" class="soap-popupbox" rel="follow"></a></li>
                        <li><a href="/booking-cart"><img height="27" width="30" src="http://thetravelsquare.in/images/cart-image.png"></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Menu
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height: 0%; ">
                        <a href="http://business.thetravelsqaure.in/" title="the travel square b2b logo">
                            <img src="http://thetravelsquare.in/images/the-travel-square-india-logo.png" alt="the travel square b2b logo" title="the travel square b2b logo">
                        </a>
                    </h1><br>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.org" rel="follow"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/testimonial"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                            
                            
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.org" rel="follow"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                    </ul>
                    
                    <ul class="mobile-topnav container">
                        <center><br>
						<button class="button full-width white uppercase animated" data-animation-type="tada"><b><big><font color="black">PARTNER LOGIN</font></big></b></button>
                        
                    </ul>
                    <br>
                </nav>
				
				
            </div>
        </header>

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Partner Care | The Travel Square</h2>
                </div>
               
            </div>
        </div>

        <section id="content">
            <div class="container">
                <div id="main">
                   
					<a href="https://www.google.com/maps/dir//the+travel+square+b2b/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x390cfd9a3a3abdd3:0x6613a809a62c26e4?sa=X&ved=2ahUKEwinmMbri6TkAhVFjeYKHX54AfYQ9RcwDHoECAwQDg" alt="The Travel Square B2B Office Address">
					<img src="http://thetravelsquare.in/images/partner-care-the-travel-square.jpeg" class="responsive" width="1570" height="350" alt="The Travel Square B2B Office">
					</a>
					<br><br>
					
                    <div class="contact-address row block">
                        <div class="col-md-4">
                            <div class="icon-box style5">
                                <i class="fa fa-phone"></i>
                                <div class="description">
                                    <small>We are on 24/7</small>
                                    <h5>Local: +91-7428558566</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="icon-box style5">
                                <i class="fa fa-envelope"></i>
                                <div class="description">
                                    <small>Send us email on</small>
                                    <h5>b2b@thetravelsquare.in</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="icon-box style5">
                                <i class="fa fa-map"></i>
                                <div class="description">
                                    <small>Meet Us At</small>
                                    <h5>Gate-2 Plot No. 3 , Knowledge Park - II Greater Noida , UP-201306</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                   
					
					<div class="row">
                        <div class="col-sm-4 col-md-3">
                            <div class="travelo-box contact-us-box">
                                <h4>Contact The Travel Square</h4>
                                <ul class="contact-address">
                                    <li class="address">
                                        <i class="fa fa-map circle"></i>
                                        <h5 class="title">Office Meeting Hours</h5>
                                        <p>MON - FRI</p>
                                        <p>11:00 AM - 4:00 PM</p>
                                    </li>
                                    <li class="phone">
                                        <i class="fa fa-phone circle"></i>
                                        <h5 class="title">Whatsapp</h5>
                                        <p>Mobile: +91-7428558566</p>
                                    </li>
                                    <li class="email">
                                        <i class="fa fa-envelope circle"></i>
                                        <h5 class="title">Website</h5>
                                        <p>www.thetravelsquare.in</p>
                                    </li>
                                </ul>
                                <ul class="social-icons full-width">
                                    
								 <li class="twitter"><a title="Join Us on Twitter" href="https://twitter.com/travelsquareb2b" data-toggle="tooltip"  Target="_blank" data-original-title="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="facebook"><a title="Join Us on Facebook" href="https://www.facebook.com/thetravelsquareb2b/" Target="_blank" data-toggle="tooltip" data-original-title="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="linkedin"><a title="Join Us on Linked In" href="https://www.linkedin.com/company/thetravelsquareb2b" Target="_blank" data-toggle="tooltip" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li class="vimeo"><a title="Join Us on Instagram" href="https://www.instagram.com/thetravelsquareb2b/" data-toggle="tooltip" Target="_blank" data-original-title="vimeo"><i class="fa fa-instagram"></i></a></li>
                                <li class="dribble"><a title="Join Us on Youtube" href="https://www.youtube.com/channel/UChlFqPqGQXw06M8ZUn4NsrQ" Target="_blank" data-toggle="tooltip" data-original-title="dribble"><i class="fa fa-youtube"></i></a></li>
 
								</ul>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <div class="travelo-box">
                                <form class="contact-form" action="" method="post">
                                    <h4 class="box-title">Send Us Your Query ! Our Team Will Get in Touch With You .</h4>
                                    <div class="row form-group">
                                        <div class="col-xs-6">
                                            <label>Your Name</label>
                                            <input type="text" name="name" class="input-text full-width">
                                        </div>
                                        <div class="col-xs-6">
                                            <label>Your Email</label>
                                            <input type="text" name="email" class="input-text full-width">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Your Message</label>
                                        <textarea name="message" rows="6" class="input-text full-width" placeholder="write message here"></textarea>
                                    </div>
                                    <button type="submit" class="btn-large full-width">SEND MESSAGE</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
	</div>
        
     <footer id="footer" class="style5">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                       
						
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>The Travel Square</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">About Company</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/jobs">Jobs & Carreers</a></li>
								<li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">Corporate Offices</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal">Legal Information</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/press-release">Press Release</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal">T & C</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/customer-care">Customer Care</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal">Privacy Policies</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/partner-care">Partner Help</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/faq">FAQ's</a></li>
                                <li class="col-xs-6"><a href="http://www.business.thetravelsquare.in/site-map">Site Map</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/contact-us">Contact Us</a></li>
                            </ul>
                        </div>
						
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <h2>More of us !</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.signatureclubmembership.com/">Signature Club</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.cruisader.com/">Cruisader</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.cruisingindia.in/">Cruising India</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.happenings.ind.in/">Happenings</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.shoppist.in/">Shoppist</a></li><br><br>
                                
                            </ul>
                        </div><hr>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>About Us</h2>
                            <p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In Style With Luxury at Affordabe Pricing . </p>
                            <br>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="Join Us on Twitter" href="https://twitter.com/travelsquare_" data-toggle="tooltip"  Target="_blank" data-original-title="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="facebook"><a title="Join Us on Facebook" href="https://www.facebook.com/thetravelsquare/" Target="_blank" data-toggle="tooltip" data-original-title="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="linkedin"><a title="Join Us on Linked In" href="https://www.linkedin.com/company/thetravelsquare" Target="_blank" data-toggle="tooltip" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li class="vimeo"><a title="Join Us on Instagram" href="https://www.instagram.com/The_Travel_Square/" data-toggle="tooltip" Target="_blank" data-original-title="vimeo"><i class="fa fa-instagram"></i></a></li>
                                <li class="dribble"><a title="Join Us on Youtube" href="https://www.youtube.com/channel/UCqi_w8JlO-1VEmVUItvr8og" Target="_blank" data-toggle="tooltip" data-original-title="dribble"><i class="fa fa-youtube"></i></a></li>
 
                            </ul><br><br>
							
                        </div>
						<center>
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<br>
                            <img src="http://thetravelsquare.in/images/the-travel-square-logo-200x200.png" alt="The Travel Square Logo">
							<br><br>
							<div class="row">
							<a href="https://play.google.com/store?hl=en" target="_blank"><img src="http://thetravelsquare.in/images/the-travel-square-google-playstore.png" height="35" width="100">
							<a href="https://www.apple.com/in/" target="_blank"><img src="http://thetravelsquare.in/images/the-travel-square-apple-store-ios.png" height="35" width="100"></div>
                        </div>
						</center>
                    </div>
					
                </div>
				
			<center>
			<a href="https://www.paypal.com/in/home" target="_blank"><img src="http://thetravelsquare.in/images/the-travel-square-visa-debit-credit-card.png" height="70" width="350">
			<a href="https://www.payumoney.com/" target="_blank"><img src="http://thetravelsquare.in/images/the-travel-square-payu-paypal.png" height="70" width="300">
			</center><br>
            </div>
			
			
            <div class="bottom gray-area">
                <div class="container">
                    
                    <div class="pull-right">
                        <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="fa fa-arrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>© 2019 Copyright | The Travel Square</p>
                    </div>
                </div>
            </div>
        </footer>
		
		
    <!-- Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Bootstrap -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/bootstrap.js.download"></script>

    <!-- parallax -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/scripts.js.download"></script>

    



</body></html>