<!DOCTYPE html>
<html>
	
	<head>
	<!-- Page Title -->
    <title>Site Map | The Travel Square Business | B2B Travel Portal</title>
    
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Business The Travel Square">
    <meta name="description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 Second">
    <meta name="designer" content="Business The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="Business The Travel Square">

    <meta property="og:title" content="The Travel Square">
	<meta property="og:image" content="http://www.thetravelsquare/the-travel-square-logo-thumbnail.png">
	<meta property="og:url" content="http://business.thetravelsquare.in/">
    <meta property="og:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
	
	<meta name="twitter:title" content="Business | The Travel Square B2B ">
	<meta name="twitter:image" content="http://www.thetravelsquare/the-travel-square-logo-thumbnail.png">
	<meta name="twitter:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
	<meta name="twitter:card" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="b2b travel, the travel square, b2b hotels, b2b flights, partner login b2b, b2b travel portal, b2b travel agencies, b2b dmc, hotel dmc's, b2b travel agency, b2b travel group, best b2b travel agency, India's Largest B2B Travel Network">
    <meta name="format-detection" content="7428558566">
    
	<meta property="fb:app_id" content="520084915232338" />
	<meta name="twitter:site" content="@thetravelsquareb2b">
    
	
	<link rel="shortcut icon" href="" type="image/x-icon">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EE16CRYW41"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EE16CRYW41');
</script>

    <!-- Theme Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/bootstrap.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/font-awesome.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/animate.min.css">
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="http://thetravelsquare.in/files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/responsive.css">
    
    
</head>
<body>
    <div id="page-wrapper">
       
	   <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                
            </div>
            
            <div class="main-header">
                
                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle" rel="nofollow">
                    Menu
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height: 0%; ">
                        <a href="http://www.thetravelsqaure.in" title="The Travel Sqaure">
                            <img src="http://thetravelsquare.in/images/the-travel-square-india-logo.png" alt="The Travel Sqaure">
                        </a>
                    </h1><br>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
							<li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
                    </ul>
                </nav>
				
            </div>
			
           
        </header>

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Sitemap | The Travel Square Business </h2>
                </div>
                
            </div>
        </div>
		
		
		 <section id="content">
            <div class="container">
                <div id="main" class="sitemap">
                    <div class="row add-clearfix">
                        <div class="col-xs-12 col-sm-8 col-md-4">
                            <div class="column sitemap-columns-2 clearfix">
                                <h6 class="title">Business Home</h6>
                                <ul>
                                    <li class="parent">
                                        <span>Portal Links</span>
                                        <ul class="circle">
											<li><a href="http://www.thetravelsquare.org">Our Story</a></li>
											<li><a href="http://business.thetravelsquare.in/work">How Do We Work</a></li>
											<li><a href="http://business.thetravelsquare.in/suppliers">Top Suppliers</a></li>
											<li><a href="http://business.thetravelsquare.in/testimonials">Testimonials</a></li>
											<li><a href="http://business.thetravelsquare.in/contact">Contact Us</a></li>
									<br>
                                        </ul>
                                    </li>
                                    <li class="parent">
                                        <span>Partner Link</span>
                                        <ul class="circle">
											<li><a href="http://business.thetravelsquare.in/partner-care">Partner Care</a></li>
											<li><a href="http://partner.thetravelsquare.in/login.php">Partner Login</a></li>
											<li><a href="http://business.thetravelsquare.in/partner-care">Partner With Us</a></li>
											<br>
                                        </ul>
                                    </li>
                                    <li class="parent">
                                        <span>Partner Content Link</span>
                                        <ul class="circle">
                                            <li><a href="http://business.thetravelsquare.in/destinations">Partner Destinations</a></li>
											<li><a href="http://business.thetravelsquare.in/testimonials">Partner Reviews</a></li>
											<br>
                                        </ul>
                                    </li>
                                    <li class="parent">
                                        <span>Partner Chat Forum</span>
                                        <ul class="circle">
                                            <li><a href="http://partner.thetravelsquare.in/join-chat-forum.php">Chat Forum</a></li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                                <ul>
                                    <li class="parent">
                                        <span>Refference Pages</span>
                                        <ul class="circle">
                                            <li><a href="http://www.thetravelsquare.in/about">About Company</a></li>
                                            <li><a href="http://www.thetravelsquare.in/jobs">Jobs & Carreers</a></li>
                                            <li><a href="http://www.thetravelsquare.in/about">Corporate Offices</a></li>
                                            <li><a href="http://www.thetravelsquare.in/legal">Legal Information</a></li>
                                            <li><a href="http://www.thetravelsquare.in/press-release">Press Release</a></li>
                                            <li><a href="http://www.thetravelsquare.in/legal">T & C</a></li>
                                            <li><a href="http://www.thetravelsquare.in/customer-care">Customer Care</a></li>
                                            <li><a href="http://www.thetravelsquare.in/legal">Privacy Policies</a></li>
                                            <li><a href="http://www.thetravelsquare.in/partner-care">Partner Help</a></li>
                                            <li><a href="http://www.thetravelsquare.in/faq">FAQ's</a></li>
                                            <li><a href="http://www.thetravelsquare.in/site-map">Site Map</a></li>
                                            <li><a href="http://www.business.thetravelsquare.in/contact">Contact Us</a></li>
                                        </ul>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <div class="column">
                                <h6 class="title">Subsidiary</h6>
                                <ul class="circle">
                                    <li><a href="http://www.signatureclubmembership.com/" target="_blank">Signature Club</a></li>
                                <li><a href="http://www.cruisader.com/" target="_blank">Cruisader</a></li>
                                <li><a href="http://www.cruisingindia.in/" target="_blank">Cruising India</a></li>
                                <li><a href="http://www.happenings.ind.in/" target="_blank">Happenings</a></li>
                                <li><a href="http://www.shoppist.in/" target="_blank">Shoppist</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <div class="column">
                                <h6 class="title">Partner Dashboard</h6>
                                <ul class="circle">
                                    <li><a href="http://partner.thetravelsquare.in/">Dashboard Home</a></li>
                                    <li><a href="http://business.thetravelsquare.in/hotel">Hotels</a></li>
                                    <li><a href="http://business.thetravelsquare.in/coming-soon">Flights</a></li>
                                    <li><a href="http://business.thetravelsquare.in/coming-soon">Experiences</a></li>
                                    <li><a href="http://business.thetravelsquare.in/coming-soon">Cabs</a></li>
                                    <li><a href="http://business.thetravelsquare.in/coming-soon">Cruise</a></li>
                                    <li><a href="http://business.thetravelsquare.in/coming-soon">Packages</a></li>
                                    <li><a href="http://business.thetravelsquare.in/coming-soon">Visa</a></li>
									<br>
                                    <li><a href="http://business.thetravelsquare.in/cart">Booking Cart</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <div class="column">
                                <h6 class="title">Partner CRM</h6>
                                <ul class="circle">
                                    <li><a href="http://partner.thetravelsquare.in/welcome">Welcome</a></li>
                                    <li><a href="http://partner.thetravelsquare.in/wallet">Wallet</a></li>
                                    <li><a href="http://partner.thetravelsquare.in/crm">CRM</a></li>
                                    <li><a href="http://partner.thetravelsquare.in/booking">Bookings</a></li>
                                    <li><a href="http://partner.thetravelsquare.in/b2bleads">Buy Leads</a></li>
                                    <li><a href="http://partner.thetravelsquare.in/sell">Sell With Us</a></li>
                                    <li><a href="http://partner.thetravelsquare.in/enquiry">Upload Leads</a></li>
                                    <li><a href="http://partner.thetravelsquare.in/offers">Offers & Deals</a></li>
                                    <li><a href="http://partner.thetravelsquare.in/profile">Profile</a></li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
		   
    </div>
		
        </section>
		
		<footer id="footer" class="style5">
           
            <div class="bottom gray-area">
                <div class="container">
                    
                    <div class="pull-right">
                        <a id="back-to-top" href="#" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>© 2019 Site Map | The Travel Square Business</p>
                    </div>
                </div>
            </div>
        </footer>
	
    


    <!-- Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-ui.1.10.4.min.js.download"></script>
    
  
    



</body></html>