<!DOCTYPE html>

	<html>
	
	<head>
    <!-- Page Title -->
    <title>Testimonials | The Travel Square Business</title>
    
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Business The Travel Square">
    <meta name="description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 Second">
    <meta name="designer" content="Business The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="Business The Travel Square">

    <meta property="og:title" content="The Travel Square">
	<meta property="og:image" content="http://www.thetravelsquare.in/the-travel-square-logo-thumbnail.png">
	<meta property="og:url" content="http://business.thetravelsquare.in/">
    <meta property="og:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
	
	<meta name="twitter:title" content="Business | The Travel Square B2B ">
	<meta name="twitter:image" content="http://www.thetravelsquare.in/the-travel-square-logo-thumbnail.png">
	<meta name="twitter:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
	<meta name="twitter:card" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="b2b travel, the travel square, b2b hotels, b2b flights, partner login b2b, b2b travel portal, b2b travel agencies, b2b dmc, hotel dmc's, b2b travel agency, b2b travel group, best b2b travel agency, India's Largest B2B Travel Network">
    <meta name="format-detection" content="7428558566">
    
	<meta property="fb:app_id" content="520084915232338" />
	<meta name="twitter:site" content="@thetravelsquareb2b">
	
	<link rel="shortcut icon" href="http://www.thetravelsquare.in/the-travel-square-logo-thumbnail.png" type="image/x-icon">
	
    <!-- Theme Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/bootstrap.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/font-awesome.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/animate.min.css">
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="/files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/responsive.css">

</head>

<body>
    <div id="page-wrapper">
       
	    <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="http://business.thetravelsqaure.in/partner-care" rel="follow">Partner Care</a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li>
						<a href="http://partner.thetravelsquare.in/login.php" class="button white btn-small" style="height: 30px; font-size: 1em;">
						<font color="black">PARTNER LOGIN</font></a></li>
                        <li><a href="customer-care.html" class="soap-popupbox" rel="follow"></a></li>

                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Menu
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height: 0%; ">
                        <a href="http://business.thetravelsqaure.in/" title="the travel square b2b logo">
                            <img src="http://thetravelsquare.in/images/the-travel-square-india-logo.png" alt="the travel square b2b logo" title="the travel square b2b logo">
                        </a>
                    </h1><br>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.org" rel="follow"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                            
                            
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.org" rel="follow"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                    </ul>
                    
                    <ul class="mobile-topnav container">
                        <center><br>
						<button class="button full-width white uppercase animated" data-animation-type="tada"><b><big><font color="black">PARTNER LOGIN</font></big></b></button>
                        
                    </ul>
                    <br>
                </nav>
				
				
            </div>
        </header>       
			   
		<section id="content">
            <div class="container block">
                <div class="row">
                    <div id="main" class="col-md-9">
                        <div class="travel-story-container box">
                            <div class="travel-story-content">
                                <div class="avatar">
                                    <img src="http://thetravelsquare.in/images/have-a-nice-trip-hant-rahul-srivastava.jpg" width="90" height="90" alt="" >
                                    <h5><a href="">Rahul Srivastav</a></h5>
                                </div>
                                <div class="description">
                                    <h4 class="skin-color">Best Adventure Trip ever with Travelo</h4>
                                    <p>The Travel Square Has Got Greate Dedicated Team to Work With , It is Difficult to Beat their supply rates even by small margins. getting good business from them</p>
                                </div>
                            </div>
                            <div class="travel-story-meta clearfix">
                                <div class="story-meta">
                                    <a class="likes button" href="">21 Bookings</a>
                                </div>
                                <span class="travel-miles">Business Exchange : 4,56,514 INR </span></span>
                            </div>
                        </div>
						<div class="travel-story-container box">
                            <div class="travel-story-content">
                                <div class="avatar">
                                    <img src="http://thetravelsquare.in/images/manish-the-travel-square-partner.jpg" width="90" height="90" alt="">
                                    <h5><a href="">Manish</a></h5>
                                </div>
                                <div class="description">
                                    <h4 class="skin-color">Manish</h4>
                                    <p>Good to get leads from them , also managed to get good pricing for their associated property , publishing on their portal was indeed a good idea. good work</p>
                                </div>
                            </div>
                            <div class="travel-story-meta clearfix">
                                <div class="story-meta">
                                    <a class="likes button" href="">5 Bookings</a>
                                </div>
                                <span class="travel-miles">Business Exchange : 1,15,700 INR </span></span>
                            </div>
                        </div>
						<div class="travel-story-container box">
                            <div class="travel-story-content">
                                <div class="avatar">
                                    <img src="http://thetravelsquare.in/images/marigold-airticket-partner-the-travel-square.jpg" width="90" height="90" alt="">
                                    <h5><a href="">Marigold Airtichets</a></h5>
                                </div>
                                <div class="description">
                                    <h4 class="skin-color">Marigold Airticketing Pvt. Ltd.</h4>
                                    <p>Working With them is Nice , Hume Kaafi Business Mila. Good to see them rising , will surely stay connected</p>
                                </div>
                            </div>
                            <div class="travel-story-meta clearfix">
                                <div class="story-meta">
                                    <a class="likes button" href="">13 Bookings</a>
                                </div>
                                <span class="travel-miles">Business Exchange : 7,85,210 INR </span></span>
                            </div>
                        </div>
						<div class="travel-story-container box">
                            <div class="travel-story-content">
                                <div class="avatar">
                                    <img src="http://thetravelsquare.in/images/swaraj-tours-and-travel-partner-the-travel-square.jpg" width="90" height="90" alt="">
                                    <h5><a href="">Bobby</a></h5>
                                </div>
                                <div class="description">
                                    <h4 class="skin-color">Swaraj Tours and Travel</h4>
                                    <p>Good Rates , Meri Bookings ke Liye i Got Cheapest Rates From Them . Also Nice Team . Working With Ishan is Good</p>
                                </div>
                            </div>
                            <div class="travel-story-meta clearfix">
                                <div class="story-meta">
                                    <a class="likes button" href="">3 Bookings</a>
                                </div>
                                <span class="travel-miles">Business Exchange : 55,897 INR </span></span>
                            </div>
                        </div>
						<div class="travel-story-container box">
                            <div class="travel-story-content">
                                <div class="avatar">
                                    <img src="http://thetravelsquare.in/images/paramjeet-travel-partner-ezy-travel.png" width="90" height="90" alt="">
                                    <h5><a href="">Paramjeet Singh</a></h5>
                                </div>
                                <div class="description">
                                    <h4 class="skin-color">Ezy Travels Pvt. Ltd.</h4>
                                    <p>Nice Experience , Working With Them.</p>
                                </div>
                            </div>
                            <div class="travel-story-meta clearfix">
                                <div class="story-meta">
                                    <a class="likes button" href="">19 Bookings</a>
                                </div>
                                <span class="travel-miles">Business Exchange : 2,30,000 INR </span></span>
                            </div>
                        </div>
						<div class="travel-story-container box">
                            <div class="travel-story-content">
                                <div class="avatar">
                                    <img src="http://thetravelsquare.in/images/The-Travel-Square-Partners-With-Go-Ibibo-Go-Stays.jpg" width="90" height="90" alt="">
                                    <h5><a href="">Animesh Jain</a></h5>
                                </div>
                                <div class="description">
                                    <h4 class="skin-color">IBIBO Merchant</h4>
                                    <p>The Travel Square Portal is Quite a Good Place for Bookings , Found is Easy , Simple and Good For Use of Travel Agents . They Have Got Fixed Pricing With Contracted Rates at
									one Place. No Need to Worry About Holding Bookings Now . Good To Use</p>
                                </div>
                            </div>
                            <div class="travel-story-meta clearfix">
                                <div class="story-meta">
                                    <a class="likes button" href="">28 Bookings</a>
                                </div>
                                <span class="travel-miles">Business Exchange : 4,05,500 INR </span></span>
                            </div>
                        </div>
                        
                        <a class="button btn-large full-width">LOAD MORE STORIES</a>
                    </div>
                    
					 <div class="sidebar col-sm-4 col-md-3">
                        
						<div class="travelo-box book-with-us-box">
                            <center><h4>Why Join Us ?</h4></center>
                            <ul>
                                <li>
                                    <i class="soap-icon-hotel-1 circle"></i>
                                    <h5 class="title"><a href="" class="skin-color">20+ Industrial Tie-Ups</a></h5>
                                    <p>The Travel Square is Recognised Amongst Top International DMC Worldwide .</p>
                                </li>
                                <li>
                                    <i class="soap-icon-savings circle"></i>
                                    <h5 class="title"><a href="" class="skin-color">Recognised Trainnings</a></h5>
                                    <p>The Travel Square Provides Recognised Trainnings From Certified Professionals.</p>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="travelo-box">
                            <center><h4 class="box-title">Our Partners & Recognitions</h4></center><br>
                            <div class="image-box style14">
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/The-Travel-Square-Partners-With-The-Leela-Palaces-Hotels-and-Resorts.jpg" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">The Leela</a></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/The-Travel-Square-Partners-With-OYO.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">OYO Rooms</a></h5>
                                    </div>
                                </article>
								<article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/The-Travel-Square-Partners-With-Club-Mahindra.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Club Mahindra</a></h5>
                                    </div>
                                </article>
								                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/The-Travel-Square-Partners-With-Country-Holiday-Inn-and-Suites-CHIS.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">CHIS</a></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/The-Travel-Square-Trav-Clan.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Trav Clan</a></h5>
                                    </div>
                                </article>
								<article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/The-Travel-Square-Partners-With-Go-Ibibo-Go-Stays.jpg" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Go Ibibo</a></h5>
                                    </div>
                                </article>
								<article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/ministry-of-corporate-affairs-of-india-The-Travel-Square.jpg" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">MCA</a></h5>
                                    </div>
                                </article>
								                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/start-up-india-the-travel-square.png" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Startup India</a></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="" title=""><img width="63" height="59" src="http://thetravelsquare.in/images/K-CIIS-kalam-center-for-innovation-and-incubation-of-start-up-the-travel-square.jpg" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="">Kalam Inclubation</a></h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                        
                    </div>
					
                </div>
            </div>
            <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="0.5" style="background-position: 50% 0px;">
                <div class="container">
                    <div class="content-section description pull-right col-sm-9" style="height: 270px;">
                        <div class="table-wrapper hidden-table-sm" style="height: 100%;">
                            <div class="table-cell">
                                <h2 class="m-title">
                                   <font color="black"> Trust , Business & Growth , We Manage All !<br><em>Partner With Us Now </em></font>
                                </h2>
                            </div>
                            <div class="action-section table-cell">
                                <button class="btn-large sky-blue1">Join Us Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="image-container col-sm-4" style="height: 270px; margin-left: -5%; position: relative;">
                        <img src="http://thetravelsquare.in/images/paramjeet-travel-partner-ezy-travel.png" alt="" width="376" height="255" style="position: absolute; bottom: 0px; left: 0px; visibility: visible;">
                    </div>
                </div>
            </div>
        </section>
        
          <footer id="footer" class="style5">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                       
						
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>The Travel Square</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">About Company</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/jobs">Jobs & Carreers</a></li>
								<li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">Corporate Office</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal">Legal Info</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/press-release">Press Release</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/terms-and-conditions">T & C</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/customer-care">Customer Care</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/privacy-policy">Privacy Policies</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/partner-care">Partner Help</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/faq">FAQ's</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/site-map">Site Map</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <h2>More of us !</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.signatureclubmembership.com/" target="_blank">Signature Club</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.cruisader.com/" target="_blank">Cruisader</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.cruisingindia.in/" target="_blank">Cruising India</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.happenings.ind.in/" target="_blank">Happenings</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.shoppist.in/" target="_blank">Shoppist</a></li><br><br>
                                
                            </ul>
                        </div><hr>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>About Us</h2>
                            <b><p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In Style With Luxury at Affordable Pricing . </p></b>
                            <br>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="Join Us on Twitter" href="https://twitter.com/travelsquareb2b" rel="nofollow" data-toggle="tooltip"  Target="_blank" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                <li class="facebook"><a title="Join Us on Facebook" href="https://www.facebook.com/thetravelsquareb2b/" rel="nofollow" Target="_blank" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="Join Us on Linked In" href="https://www.linkedin.com/company/thetravelsquareb2b" rel="nofollow" Target="_blank" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                <li class="vimeo"><a title="Join Us on Instagram" href="https://www.instagram.com/thetravelsquareb2b/" data-toggle="tooltip" rel="nofollow" Target="_blank" data-original-title="vimeo"><i class="soap-icon-instagram"></i></a></li>
                                <li class="dribble"><a title="Join Us on Youtube" href="https://www.youtube.com/channel/UCqi_w8JlO-1VEmVUItvr8og" rel="nofollow" Target="_blank" data-toggle="tooltip" data-original-title="dribble"><i class="soap-icon-youtube"></i></a></li>
 
                            </ul><br><br>
							
                        </div>
						<center>
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<br>
                            <img src="http://thetravelsquare.in/images/the-travel-square-logo-200x200.png" alt="the travel square b2b" title="the travel square b2b">
							<br><br>
							<div class="row">
							<a rel="nofollow" href="https://play.google.com/store?hl=en"><img src="http://thetravelsquare.in/images/the-travel-square-google-playstore.png" alt="the travel square b2b" title="the travel square b2b" height="35" width="100">
							<a rel="nofollow" href="https://www.apple.com/in/"><img src="http://thetravelsquare.in/images/the-travel-square-apple-store-ios.png" alt="the travel square b2b" title="the travel square b2b" height="35" width="100"></div>
                        </div>
						</center>
                    </div>
					
                </div>
				
			<center>
			<a rel="nofollow" href="https://www.paypal.com/in/home"><img alt="the travel square b2b" title="the travel square b2b" src="http://thetravelsquare.in/images/the-travel-square-visa-debit-credit-card.png" height="70" width="350">
			<a rel="nofollow" href="https://www.payumoney.com/"><img alt="the travel square b2b" title="the travel square b2b" src="http://thetravelsquare.in/images/the-travel-square-payu-paypal.png" height="70" width="300">
			</center><br>
            </div>
			
			
            <div class="bottom gray-area">
                <div class="container">
                    
                    <div class="pull-right">
                        <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>© 2019 Business | The Travel Square</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <!-- Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/scripts.js.download"></script>




</body></html>