<!DOCTYPE html>

	<html>
	<head>
    <!-- Page Title -->
    <title>Top Suppliers | The Travel Square Business</title>
    
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Business The Travel Square">
    <meta name="description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 Second">
    <meta name="designer" content="Business The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="Business The Travel Square">

    <meta property="og:title" content="The Travel Square">
	<meta property="og:image" content="http://www.thetravelsquare.in/the-travel-square-logo-thumbnail.png">
	<meta property="og:url" content="http://business.thetravelsquare.in/">
    <meta property="og:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
	
	<meta name="twitter:title" content="Business | The Travel Square B2B ">
	<meta name="twitter:image" content="http://www.thetravelsquare.in/the-travel-square-logo-thumbnail.png">
	<meta name="twitter:description" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
	<meta name="twitter:card" content="India's Largest B2B Travel Network . The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="b2b travel, the travel square, b2b hotels, b2b flights, partner login b2b, b2b travel portal, b2b travel agencies, b2b dmc, hotel dmc's, b2b travel agency, b2b travel group, best b2b travel agency, India's Largest B2B Travel Network">
    <meta name="format-detection" content="7428558566">
    
	<meta property="fb:app_id" content="520084915232338" />
	<meta name="twitter:site" content="@thetravelsquareb2b">
	
	<link rel="shortcut icon" href="http://www.thetravelsquare.in/the-travel-square-logo-thumbnail.png" type="image/x-icon">
	
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EE16CRYW41"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EE16CRYW41');
</script>

    <!-- Theme Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/bootstrap.min.css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/font-awesome.min.css">
    <link href="http://thetravelsquare.in/files/css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://thetravelsquare.in/files/animate.min.css">
    
    <!-- Main Style -->
    <!--<link id="main-style" rel="stylesheet" href="css/style.css">-->
    <script type="text/javascript">
        var mainStyle = "style.css";
        if (typeof localStorage != "undefined") {
            var colorSkin = localStorage.getItem("colorSkin");
            if (colorSkin != null) {
                mainStyle = "style-" + colorSkin + ".css";
            }
        }
        document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');
    </script><link id="main-style" rel="stylesheet" href="http://thetravelsquare.in/files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="http://thetravelsquare.in/files/responsive.css">

</head>

<body>
    <div id="page-wrapper">
       
	           <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="http://business.thetravelsqaure.in/partner-care" rel="follow">Partner Care</a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li>
						<a href="http://partner.thetravelsquare.in/login.php" class="button white btn-small" style="height: 30px; font-size: 1em;">
						<font color="black">PARTNER LOGIN</font></a></li>
                        <li><a href="customer-care.html" class="soap-popupbox" rel="follow"></a></li>
                        <li><a href="/booking-cart"><img height="27" width="30" src="http://thetravelsquare.in/images/cart-image.png"></a></li>


                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Menu
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="height: 0%; ">
                        <a href="http://business.thetravelsqaure.in/" title="the travel square b2b logo">
                            <img src="http://thetravelsquare.in/images/the-travel-square-india-logo.png" alt="the travel square b2b logo" title="the travel square b2b logo">
                        </a>
                    </h1><br>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
							<li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.org" rel="follow"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in"><b><big>Home</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                            
                            
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                                <a href="http://www.thetravelsquare.org" rel="follow"><b>Our Story</b></a>
                                
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="http://business.thetravelsquare.in/"><b><big>Home</big></b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/work"><b>How Do We Work ?</b></a>
                                
                            </li>
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/suppliers"><b>Top Suppliers</b></a>
                                
                            </li>
                           <li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/testimonials"><b>Testimonials</b></a>
                                
                            </li>
							
							<li class="menu-item-has-children">
                                <a href="http://business.thetravelsquare.in/contact"><b>Contact Us</b></a>
                                
                            </li>
                           
                    </ul>
                    
                    <ul class="mobile-topnav container">
                        <center><br>
                            <li>
                        <button class="button full-width white uppercase animated" data-animation-type="tada"><b><big><font color="black">PARTNER LOGIN</font></big></b></button>
                            </li>
                        <li><a href="/booking-cart"><img height="27" width="30" src="http://thetravelsquare.in/images/cart-image.png"></a></li>
                        
                    </ul>
                    <br>
                </nav>
				
				
            </div>
        </header>


 
		
        
        <section id="content bg-white">
			 
			
			
            <div class="section white-bg">
                <div class="container">
                    <center>
                <h1 class="title"><big><b>OUR PARTNERS & SUPPLIERS</b></big></h1>
				<p><font color="black"><b></b></font></p><br></center><br><br>
                    <div class="investor image-carousel style2 investor-list animated fadeInUp" data-animation-type="fadeInUp" data-animation="slide" data-item-width="190" data-item-margin="30" style="animation-duration: 1s; visibility: visible;">
                        
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
					<ul >
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.theleela.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/the-leela-palaces-and-resort-the-travel-square-partners.jpg" alt="the travel square b2b the leela palaces and resort" title="the travel square b2b the leela palaces and resort" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.cruisingindia.in" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/cruising-india-the-travel-square.jpg" alt="the travel square b2b cruising india" title="the travel square b2b cruising india" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.tajhotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/taj-hotel-the-travel-square-partners.jpg" alt="the travel square b2b taj hotels" title="the travel square b2b taj hotels" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.wyndhamhotels.com/ramada" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/ramada-the-travel-square-partners.jpg" alt="the travel square b2b ramada" title="the travel square b2b ramada" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="www.fourseasons.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/Four_Seasons.jpg" alt="the travel square b2b four seasons" title="the travel square b2b four seasons" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.cruisader.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/cruisader-by-the-travel-square.jpg" alt="the travel square b2b cruisader" title="the travel square b2b cruisader" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.thelalit.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/the-lalit-the-travel-square-partners.jpg" alt="the travel square b2b the lalit" title="the travel square b2b the lalit" draggable="false"></a>
                                </div>
                            </li>
                            <li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.radissonhotelgroup.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/radisson-hotel-group-the-travel-square-partners.jpg" alt="the travel square b2b radisson hotel group" title="the travel square b2b radisson hotel group" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.itchotels.in/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/itc-hotel-group-the-travel-square-partners.jpg" alt="the travel square b2b ITC hotels" title="the travel square b2b itc hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.hilton.com/en/conrad/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/conrad-hotel-the-travel-square.jpg " alt="the travel square b2b hilton" title="the travel square b2b hilton" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.fortunehotels.in/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/fortune-the-travel-square.jpg" alt="the travel square b2b fortune hotels" title="the travel square b2b fortune hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="www.choicehotels.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/choice.jpg" alt="the travel square b2b choice hotels" title="the travel square b2b choice hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href=" http://parkhotelandresort.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/park-hotels-and-resorts-the-travel-square.jpg" alt="the travel square b2b park hotels and resorts" title="the travel square b2b park hotels and resorts" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.shangri-la.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/shangri-la-hotels-and-resorts-the-travel-square.jpg" alt="the travel square b2b shangri-la" title="the travel square b2b shangri-la" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.goldentulip.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/GoldenTulipHotelandResorts.jpg" alt="the travel square b2b four seasons" title="the travel square b2b four seasons" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.sarovarhotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/the-travel-square-sarovar-hotel-and-resorts-partners.jpg" alt="the travel square b2b sarovar hotels" title="the travel square b2b sarovar hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.coxandkings.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/Cox-Kings.jpg" alt="the travel square b2b cox and kings" title="the travel square b2b cox and kings" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.marriott.com/default.mi" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/starwood.jpg" alt="the travel square b2b four starwood marriot" title="the travel square b2b starwood marriott" draggable="false"></a>
                                </div>
                            </li>
							
                           
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.accorhotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/accor-hotels-the-travel-square.jpg" alt="the travel square b2b accor hotels" title="the travel square b2b accor hotels" draggable="false"></a>
                                </div>
                            </li>
							
							
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.fabhotels.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/fab-hotel-the-travel-square-partners.jpg" alt="the travel square b2b fab hotels" title="the travel square b2b fab hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.intercontinental.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/intercontinental-hotels-resorts-logo-vector.jpg" alt="the travel square b2b inter continental hotels" title="the travel square b2b inter continental hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.oberoihotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/The_Oberoi_Group.jpg" alt="the travel square b2b oberioi hotels" title="the travel square b2b oberioi hotels" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://westin.marriott.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/westin-logo.jpg" alt="the travel square b2b marriott" title="the travel square b2b marriott" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.whitbread.co.uk/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/whitebread.jpg" alt="the travel square b2b white bread" title="the travel square b2b white bread" draggable="false"></a>
                                </div>
                            </li>
							
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="www.agoda.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/agoda.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="   https://www.booking.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/booking-dot-com-the-travel-square-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="  https://in.hotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/hotels.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="www.hotwire.com" target="_blank"><img src="http://thetravelsquare.in/images/partners/hot-wire.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="www.cleartrip.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/clear-trip-the-travel-square-partner.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="www.expedia.co.in" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/expedia-the-travel-square-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.kayak.co.in/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/kayak.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.makemytrip.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/make-my-trip.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.oyorooms.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/oyo-the-travel-square-partner.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.priceline.com/" target="_blank"><img src="http://thetravelsquare.in/images/partners/price-line.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.tripadvisor.in/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/trip-advisor.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.yatra.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/yatra.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.hoteltheroyalplaza.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/royal club.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://theumrao.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/umrao.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.vresorts.in/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/v resorts.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.khil.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/kamat.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://countryclubindia.net/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/country club.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.qviclub.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/QVIClub_Primary.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							
							
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="www.gingerhotels.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/Ginger-logo.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.keyshotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/keys hotels.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.radissonhotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/radisson-.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.roomertravel.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/roomer.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.treebo.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/treebo.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.travelguru.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/travel-guru.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.lemontreehotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/lemon tree.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.staymango.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/mango.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.marriott.com/" target="_blank"><img src="http://thetravelsquare.in/images/partners/marriott.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.myholidayclub.co.in/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/my holiday club.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://nvnholidays.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/nvn.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.royalorchidhotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/royal orchid.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href=" http://www.clubmahindra.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/club-mahindra-the-travel-square-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.jaypeehotels.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/jaypee.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.sterlingholidays.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/sterling holiday.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.thomascook.in/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/thomas.jpg" alt="" draggable="false"></a>
                                </div>
							</li>
							
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://traveltriangle.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/travel_triangle_logo.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="https://www.travelboutiqueonline.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/travelboutique.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							
							 <li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href=" https://www.countryinns.com/" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/country-inn-and-suites-by-carlsons-the-travel-square-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.andavotravel.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/andavo.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
							<li style="width: 190px; float: left; display: block;">
                                <div class="travelo-box">
                                    <a href="http://www.countryholidaysinnsuites.com" rel="nofollow" target="_blank"><img src="http://thetravelsquare.in/images/partners/chis-the-travel-square-partners.jpg" alt="" draggable="false"></a>
                                </div>
                            </li>
                        </ul></div></div>
                </div>
            </div>
			
			
            <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="0.5" style="background-position: 50% 0px;">
                <div class="container">
                    <div class="content-section description pull-right col-sm-9" style="height: 273px;">
                        <div class="table-wrapper hidden-table-sm" style="height: 100%;">
                            <div class="table-cell">
                                <h2 class="m-title animated" data-animation-type="fadeInDown">
                                   <font color="black"> We Connect You Directly With The Suppliers.<br><em>Supplies From More Than 250+ DMC's</em></font>
                                </h2>
                            </div>
                            <div class="table-cell action-section col-md-4 no-float">
                                <form action="" method="post">
                                    <div class="row">
                                        
                                        <div class="col-xs-6 col-md-12">
                                            
                                            <button class="full-width btn-large sky-blue1 animated" data-animation-type="fadeInUp" data-animation-delay="1"><a href="http://partner.thetravelsquare.in/signup.php">Join Now</a></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="image-container col-sm-4" style="height: 273px; margin-left: -5%; position: relative;">
                        <img src="http://thetravelsquare.in/images/the-travel-square-b2b-we-connect-you-directly-with-suppliers.png" alt="" width="320" height="675" class="animated" data-animation-type="fadeInUp" data-animation-duration="2" style="position: absolute; bottom: 0px; left: 0px;">
                   
				   </div>
                </div>
            </div>
        </section><hr>
        
          <footer id="footer" class="style5">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                       
						
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>The Travel Square</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">About Company</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/jobs">Jobs & Carreers</a></li>
								<li class="col-xs-6"><a href="http://www.thetravelsquare.in/about">Corporate Office</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/legal">Legal Info</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/press-release">Press Release</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/terms-and-conditions">T & C</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/customer-care">Customer Care</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/privacy-policy">Privacy Policies</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/partner-care">Partner Help</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/faq">FAQ's</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/site-map">Site Map</a></li>
                                <li class="col-xs-6"><a href="http://www.thetravelsquare.in/contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <h2>More of us !</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.signatureclubmembership.com/" target="_blank">Signature Club</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.cruisader.com/" target="_blank">Cruisader</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.cruisingindia.in/" target="_blank">Cruising India</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.happenings.ind.in/" target="_blank">Happenings</a></li><br><br>
                                <li class="col-xs-6"><a href="http://www.shoppist.in/" target="_blank">Shoppist</a></li><br><br>
                                
                            </ul>
                        </div><hr>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>About Us</h2>
                            <b><p>The Travel Square is a Network of 10000+ Travel Suppliers , DMC & Hotel Chains Inspiring the World to Travel In Style With Luxury at Affordable Pricing . </p></b>
                            <br>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="Join Us on Twitter" href="https://twitter.com/travelsquareb2b" rel="nofollow" data-toggle="tooltip"  Target="_blank" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                <li class="facebook"><a title="Join Us on Facebook" href="https://www.facebook.com/thetravelsquareb2b/" rel="nofollow" Target="_blank" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="Join Us on Linked In" href="https://www.linkedin.com/company/thetravelsquareb2b" rel="nofollow" Target="_blank" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                <li class="vimeo"><a title="Join Us on Instagram" href="https://www.instagram.com/thetravelsquareb2b/" data-toggle="tooltip" rel="nofollow" Target="_blank" data-original-title="vimeo"><i class="soap-icon-instagram"></i></a></li>
                                <li class="dribble"><a title="Join Us on Youtube" href="https://www.youtube.com/channel/UCqi_w8JlO-1VEmVUItvr8og" rel="nofollow" Target="_blank" data-toggle="tooltip" data-original-title="dribble"><i class="soap-icon-youtube"></i></a></li>
 
                            </ul><br><br>
							
                        </div>
						<center>
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<br>
                            <img src="http://thetravelsquare.in/images/the-travel-square-logo-200x200.png" alt="the travel square b2b" title="the travel square b2b">
							<br><br>
							<div class="row">
							<a rel="nofollow" href="https://play.google.com/store?hl=en"><img src="http://thetravelsquare.in/images/the-travel-square-google-playstore.png" alt="the travel square b2b" title="the travel square b2b" height="35" width="100">
							<a rel="nofollow" href="https://www.apple.com/in/"><img src="http://thetravelsquare.in/images/the-travel-square-apple-store-ios.png" alt="the travel square b2b" title="the travel square b2b" height="35" width="100"></div>
                        </div>
						</center>
                    </div>
					
                </div>
				
			<center>
			<a rel="nofollow" href="https://www.paypal.com/in/home"><img alt="the travel square b2b" title="the travel square b2b" src="http://thetravelsquare.in/images/the-travel-square-visa-debit-credit-card.png" height="70" width="350">
			<a rel="nofollow" href="https://www.payumoney.com/"><img alt="the travel square b2b" title="the travel square b2b" src="http://thetravelsquare.in/images/the-travel-square-payu-paypal.png" height="70" width="300">
			</center><br>
            </div>
			
			
            <div class="bottom gray-area">
                <div class="container">
                    
                    <div class="pull-right">
                        <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>© 2019 Business | The Travel Square</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <!-- Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/bootstrap.js.download"></script>

    <!-- Flex Slider -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.flexslider-min.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="http://thetravelsquare.in/files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="http://thetravelsquare.in/files/scripts.js.download"></script>

    <script type="text/javascript">
        tjq("#slideshow .flexslider").flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: true,
            directionNav: false,
            slideshow: true,
            slideshowSpeed: 5000
        });
    </script>



</body></html>