<!DOCTYPE html>

<html class=" js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Page Title -->
    <title>Hotel Entry | The Travel Square</title>
    
    <!-- Meta Tags -->
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="The Travel Square">
    <meta name="description" content="">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="The Travel Square">
    <meta name="revisit-after" content="1 hour">
    <meta name="designer" content="The Travel Square">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="The Travel Square">

    <meta property="og:title" content="The Travel Square">
    <meta property="og:description" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta property="og:image" content="">
  
    <meta name="twitter:card" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
  
    <meta name="keywords" content="The Travel Square is a Unique B2B Platform For Travel Agents to Get Best Quotes For Their Travel Booking Leads . Our Network is a Profesional B2B Connection of More Than 5000+ Travel Agents Around the Globe at More Than 250+ Destinations in the World . The Travel Square is Simple to Use , Efficient and Cost Savvy , Which Can Make More Margins in Travel Sales and Make Travel Agents Earn 150% More Profits.">
    <meta name="format-detection" content="7428558566">
    
  
    <link rel="stylesheet" href="/Partners Screening Form_files/bootstrap.min.css">
    <link rel="stylesheet" href="/Partners Screening Form_files/font-awesome.min.css">
    <link href="/Partners Screening Form_files/css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Partners Screening Form_files/animate.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script> 
	
	
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    

	
    <script type="text/javascript">
        var mainStyle = "style.css";
        if (typeof localStorage != "undefined") {
            var colorSkin = localStorage.getItem("colorSkin");
            if (colorSkin != null) {
                mainStyle = "style-" + colorSkin + ".css";
            }
        }
        document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');
    </script>
	<link id="main-style" rel="stylesheet" href="/Partners Screening Form_files/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="/Partners Screening Form_files/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/Partners Screening Form_files/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="/Partners Screening Form_files/responsive.css">
    
   
</head>
<body>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="http://www.thetravelsqaure.com">THE TRAVEL SQAURE</a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li class="ribbon">
                            <a href="">Log Out</a>
                            
                        </li>
                        
                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="" data-toggle="collapse" class="mobile-menu-toggle">
                    Menu
                </a>

                <div class="container">
                    <h1 class="logo navbar-brand">
                        <a href="http://www.thetravelsqaure.com" title="The Travel Sqaure">
                            <img src="images/.png" alt="The Travel Sqaure by Travel Beans">
                        </a>
                    </h1>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="hotel_update.html">Update Hotel</font></button></a>
                                
                            </li>
							
                           
                            
                            
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="http://www.thetravelsqaure.in/">Home</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-0"></button>
                            
                        </li>
                        <li class="menu-item-has-children">
                            <a href="http://www.thetravelsqaure.in/">Home</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-0"></button>
                            
                        </li>
                       
                        
                            
                        
                        
                    </ul>
                </nav>
				
				
            </div>
           
        </header>

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Update Hotel Panel</h2>
                </div>
                
            </div>
        </div>

        <section id="content">
            <div class="container">
			
			
			
                <div class="row">
                    <div id="main" class="full-width">
					
					
					
                        <div class="travelo-box booking-section">
                           
							<h2>Update Hotel Details</h2>
						    <label class="control-label"for="name"></label>
                                    <div >
                                        <input class="input-text full-width form-control" data-toggle="dropdown" ng-model="searchDeals" placeholder="Enter Hotel To Be Modified"><br><br>
                                            <div  class="container" style="max-height: 100px;overflow-y: scroll;">
                                                <div style="margin-bottom: 5px;" ng-repeat="data in hotelsData  | filter : searchHotel" >
                                                    Price ₹: [[data.price]] &nbsp;&nbsp; 
                                                    <button class="button s" data-toggle="modal" data-target="#dealModal" ng-click="editHotel(data)">Edit Hotel</button>
                                                    <button class="button s" data-toggle="modal" data-target="#dealModal" ng-click="deleteHotel(data)">Delete Hotel</button>
                                                    <br>
                                                </div>
                                            </div>
                
                                    </div>
                
						   
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
        
         <footer id="footer" class="style5">
           
            <div class="bottom">
                <div class="container">
                    
                    <div class="pull-right">
                        <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-left">
                        <p>© 2019 The Travel Square</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
	


    <!-- Javascript -->
    <script type="text/javascript" src="/Partners Screening Form_files/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="/Partners Screening Form_files/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="/Partners Screening Form_files/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="/Partners Screening Form_files/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="/Partners Screening Form_files/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="/Partners Screening Form_files/jquery-ui.1.10.4.min.js.download"></script>
    <script type="text/javascript" src="/app.js"></script>

    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="/Partners Screening Form_files/bootstrap.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="/Partners Screening Form_files/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="/Partners Screening Form_files/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="/Partners Screening Form_files/theme-scripts.js.download"></script>
    <script type="text/javascript" src="/Partners Screening Form_files/scripts.js.download"></script>
    

</body></html>

