{% extends '/hotel/components/header.html' %} {% block controller%}bookingController{% endblock %} {% block
    content%}

<style>
    .mt-5 {
        margin-top: 7px;
    }

    body {
        padding-right: 0 !important
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
</style>

<script src="/js/checklist-model.js"></script>

<section id="content">
    <div class="container">
        <div class="row">
            <div id="main" class="col-sm-6 col-md-9">

                <div class="travelo-box booking-section">
                    <h2>Rooms in the Cart</h2>

                    <div class="flight-list listing-style3 flight">
                        <article class="box" ng-repeat="cart in cartDetails[0].cart_deals">
                            <figure class="col-xs-3 col-sm-2">
                                <img width="140" height="100" ng-src="[[cart.deal.room.image_url]]">
                            </figure>
                            <div class="details col-xs-9 col-sm-10">
                                <div class="details-wrapper">
                                    <div class="first-row">
                                        <div>
                                            <h4 class="box-title">
                                                [[cart.deal.room.hotel.name]]<small>[[cart.deal.room.hotel.city]]</small>
                                            </h4>
                                            <a class="button btn-mini stop uppercase">Change Deal</a>
                                            <div class="amenities">
                                                <i class="soap-icon-wifi circle"></i>
                                                <i class="soap-icon-entertainment circle"></i>
                                                <i class="soap-icon-fork circle"></i>
                                                <i class="soap-icon-suitcase circle"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="price"><small>TOTAL (INR)</small>[[finalAmount]]</span>
                                        </div>
                                    </div>
                                    <div class="second-row">
                                        <div class="time">
                                            <div class="take-off col-sm-4">
                                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i>
                                                </div>
                                                <div>
                                                    <span class="skin-color">Check In</span><br />[[cart.ci_date | date
                                                    : 'EEE MMM d, y h:mm a']]
                                                </div>
                                            </div>
                                            <div class="landing col-sm-4">
                                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i>
                                                </div>
                                                <div>
                                                    <span class="skin-color">Check Out</span><br />[[cart.co_date | date
                                                    : 'EEE MMM d, y h:mm a']]
                                                </div>
                                            </div>
                                            <div class="total-time col-sm-4">
                                                <div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
                                                <div>
                                                    <span class="skin-color">Rooms & Person</span><br />2 Rooms, 4
                                                    Adults
                                                </div>
                                            </div>
                                        </div>
                                        <div class="action">
                                            <a href="flight-detailed.html"
                                                class="button btn-small full-width uppercase">Remove Deal</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <h3 class="mt-5">Customer Details</h3>

                    <div class=" mt-5" ng-repeat="customer in customerDetails">
                        <span class="pull-right bg-danger" style="padding: 7px;font-weight: bolder;"
                            ng-if="customerDetails.length > 1" ng-click="removeCustomer($index)"
                            role="button">&times;</span>

                        <form>

                            <div class="form-group row">
                                <div class="col-sm-6 col-md-5">
                                    <label for="firstName">First Name</label>
                                    <input type="text" required class="input-text full-width" name="firstname"
                                        ng-model="customer.guest_fist_name" placeholder="Enter Your First Name">
                                </div>
                                <div class="col-sm-6 col-md-5">
                                    <label for="LastName">Last Name</label>
                                    <input type="text" required class="input-text full-width"
                                        ng-model="customer.guest_last_name" placeholder="Enter Your Last Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-5">
                                    <label for="email">Email Address</label>
                                    <input type="text" required class="input-text full-width" name="email"
                                        ng-model="customer.email" placeholder="Enter Your Email Address">
                                </div>
                                <div class="col-sm-6 col-md-5">
                                    <label for="phone">Phone Number</label>
                                    <input type="text" required class="input-text full-width" name="phone"
                                        ng-model="customer.contact_no" placeholder="Enter Your Phone Number">
                                </div>
                            </div>
                        </form>

                        <div class="row">

                            <div class="col-sm-6">
                                <h4>Rooms</h4>
                            </div>
                            <div class="col-sm-6">
                                <button ng-click="addRoomForCustomers($index)" data-toggle="modal"
                                    data-target="#myModal">Add Room</button>
                            </div>
                        </div>

                        <div ng-if="customersSelectedRooms[$index][0]">
                            <div class="row mt-5 " ng-repeat="rooms in customersSelectedRooms[$index]"
                                ng-init="log(customersSelectedRooms[$index])">


                                <div class="col-sm-3 room-image-container">
                                    <img class="img-responsive" ng-src="[[rooms.deal.room.image_url]]" alt=""
                                        srcset="" />

                                </div>
                                <div class="col-sm-5">
                                    [[rooms.deal.room.hotel.name]]
                                    <br />
                                    [[rooms.deal.room.hotel.city]]
                                    <br />
                                    [[rooms.ci_date | date : 'EEE MMM d, y h:mm a']] - [[rooms.co_date | date : 'EEE MMM
                                    d, y h:mm a']]
                                    <br />
                                    No. of Rooms: [[rooms.customersSelectedRoomsQuantity]]

                                </div>

                                <div class="col-sm-">
                                    <div class="pull-right">
                                        Amount : [[rooms.customersSelectedRoomsQuantity * rooms.deal.price]]
                                    </div>
                                    
                                </div>

                            </div>
                            <!-- <div>Total Amout for this Customer is: <span class="pull-right" ></span> </div> -->
                        </div>




                        <hr style="border-color:#cacaca;" />
                    </div>


                    
                    <button class="mt-5" ng-click="addMoreCustomer()">Add Customer</button>

                    <div class="col-sm-12 mt-5">
                        <hr style="border-color:#cacaca;" />

                        <center>
                            <button class="button sky-blue1 full-width uppercase btn-small" ng-click="processBook()"
                              ng-disabled="!customersSelectedRooms[0][0]" >Process Payment</button>
                        </center>
                    </div>

                </div>


            </div>


            <div class="sidebar col-sm-4 col-md-3">
                <div class="travelo-box contact-box" ng-init="finalQunatity = 1">
                    <center>
                        <h4
                            ng-bind="cartDetails[0].cart_deals[0].deal.room.hotel.name+ ' ('+cartDetails[0].cart_deals[0].deal.room.hotel.city+')'">
                        </h4>
                        <p ng-bind="cartDetails[0].cart_deals[0].deal.room.room_type">Room Type</p>
                        <p>Book room for: <input type="number" class=" form-control"
                                style="width: 40px;display: inline-block;padding: 8px;" ng-model="finalQunatity"
                                ng-change="qunatityChange()" /></p>
                        <hr />
                        <p ng-init="finalAmount = finalQunatity * cartDetails[0].cart_deals[0].deal.price;;">Total
                            Amount: ₹[[finalAmount]]</p>
                    </center>
                    <button class="button sky-blue1 full-width uppercase btn-small" ng-disabled="!customersSelectedRooms[0][0]" ng-click="processBook()">Process
                        Payment</button>
                </div>
                <div class="travelo-box book-with-us-box">
                    <center>
                        <h4>Why Join Us ?</h4>
                    </center>
                    <ul>
                        <li>
                            <i class="soap-icon-hotel-1 circle"></i>
                            <h5 class="title"><a href="" class="skin-color">4,35,000+ Accomodations</a></h5>
                            <p>We Gaurantee Best Supply Rates From Over 100+ Chains Of Hotels & Resorts .</p>
                        </li>
                        <li>
                            <i class="soap-icon-savings circle"></i>
                            <h5 class="title"><a href="#" class="skin-color">Lowest B2B Rates</a></h5>
                            <p>We Gaurantee Lowest B2B Rates For You to Create More Margins & Profits .</p>
                        </li>
                        <li>
                            <i class="soap-icon-support circle"></i>
                            <h5 class="title"><a href="#" class="skin-color">24/7 Leads</a></h5>
                            <p>We Gaurantee 24/7 Targeted Leads From the Travel Market For You .</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="myModal" class="modal " role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Rooms</h4>
            </div>
            <div class="modal-body">
                <div class="row" ng-repeat="cart in cartDetails[0].cart_deals">
                    <div class="col-sm-1 checkbox-container">
                        <input type="checkbox" checklist-model="customersSelectedRooms[customerDetailsArrayIndex]"
                            checklist-value="cart" />
                    </div>
                    <div class="col-sm-3 room-image-container">
                        <img class="img-responsive" ng-src="[[cart.deal.room.image_url]]" alt="" srcset="">
                    </div>
                    <div class="col-sm-4">
                        [[cart.deal.room.hotel.name]]
                        <br />
                        <small>
                            [[cart.ci_date | date: 'EEE MMM d, y h:mm a']]
                        </small>
                        <br/>
                        <small>
                            [[cart.co_date | date: 'EEE MMM d, y h:mm a']]
                        </small>


                    </div>

                    <div class="col-sm-4">
                        <form class="form-inline">
                            <div class="form-group">
                                <button class="btn"><i class="fa fa-minus"></i></button>
                                <input class="form-control" ng-model="cart.customersSelectedRoomsQuantity" type="number"
                                    size="1" style="width: 45px;" required>
                                <button class="btn"><i class="fa fa-plus"></i></button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal"
                    1ng-disabled="!customersSelectedRooms.rooms.length || !customersSelectedRooms.rooms[0].customersSelectedRoomsQuantity"
                    ng-click="rooomsAdded()">Done</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="repsonse"></div>



{% endblock %}

{% block footJS %}
<script src="/controllers/bookingController.js"> </script>
{% endblock %}