<footer id="footer" class="style5">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>The Travel Square</h2>
                    <ul class="discover triangle hover row">
                        <li class="col-xs-6"><a href="/footer_pages/about.html">About Company</a></li>
                        <li class="col-xs-6"><a href="/footer_pages/job-and-internship-application-form.html">Jobs & Carreers</a></li>
                        <li class="col-xs-6"><a href="/footer_pages/about.html">Corporate Offices</a></li>
                        <li class="col-xs-6"><a href="/footer_pages/legal.html">Legal Information</a></li>
                        <li class="col-xs-6"><a href="/footer_pages/press-release.html">Press Release</a></li>
                        <li class="col-xs-6"><a href="/footer_pages/legal.html">T & C</a></li>
                        <li class="col-xs-6"><a href="/footer_pages/customer-care.html">Customer Care</a></li>
                        <li class="col-xs-6"><a href="/footer_pages/legal.html">Privacy Policies</a></li>
                        <li class="col-xs-6"><a href="/footer_pages/partner-Care.html">Partner Help</a></li>
                        <li class="col-xs-6"><a href="http://www.thetravelsquare.in/faq.html">FAQ's</a></li>
                        <li class="col-xs-6"><a href="http://www.thetravelsquare.in/site-Map.html">Site Map</a></li>
                        <li class="col-xs-6"><a href="/footer_pages/customer-care.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>Our Products</h2>
                    <ul class="discover triangle hover row">
                        <li class="col-xs-"><a href="http://www.thetravelsquare.in/pro">Travel Square Business</a></li>
                        <li class="col-xs-"><a href="http://www.signatureclubmembership.com/">Signature Club</a></li>
                        <li class="col-xs-"><a href="http://www.cruisader.com/">Cruisader</a></li>
                        <li class="col-xs-"><a href="http://www.cruisingindia.in/">Cruising India</a></li>
                        <li class="col-xs-"><a href="http://www.happenings.ind.in/">Happenings</a></li>
                        <li class="col-xs-"><a href="http://www.shoppist.me/">Shoppist</a></li>
                        
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img src="images/Signature-Club-Logo.jpg">
                    <br>
                    
                    <br>
                    
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>About Us</h2>
                    <p>Signature Club Founded in 2018 , Aims to Provide Complete Luxury During the Journey of Our Members . The Club Offers More than 75+ Destinations With 200+ Hotels , 
Worldwide Covering Most of the Travel Destinations in the World .</p>
                    <br>
                    <address class="contact-details">
                        <center><a href="" class="contact-email">signatureclubmembership@gmail.com</a></center>
                    </address>
                    <ul class="social-icons clearfix">
                        <li class="twitter"><a title="Join Us On Twitter" href="https://twitter.com/signaturemember" data-toggle="tooltip" data-original-title="twitter" target="blank_"><i class="soap-icon-twitter"></i></a></li>
                        <li class="facebook"><a title="Join Us On Facebook" href="https://www.facebook.com/signatureclubmembership/" target="blank_" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                        <li class="instagram"><a title="Join Us On Instagram" href="https://www.instagram.com/signatureclubmembership/" target="blank_" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-instagram"></i></a></li>
                        <li class="linkedin"><a title="Join Us On Linked In" href="" target="blank_" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom gray-area">
        <div class="container">
            
            <div class="pull-right">
                <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p>© 2019 Signature Club | The Travel Square</p>
            </div>
        </div>
    </div>
</footer>